<!DOCTYPE html>
<html>
<head>
  <title>
    Atmosphere | {{ ORG_NAME }}
  </title>
  <link rel="shortcut icon" href="{{THEME_URL}}/images/favicon.ico" />
  <link rel="stylesheet" href="{{ THEME_URL }}/css/login.css"/>
</head>
<body>
    <div id="wrapper" class="center">
        <div id="imgcontainer">
            <img src="{{ THEME_URL }}/images/large_logo.png">
        </div>
        <div class="message-wrapper">

            <h1>Your account does not currently have a valid Allocation Source.</h1>

            <p>Your  will need a valid allocation in order to use Jetstream.</p>

            <p>Jetstream allocations are done exclusively through the <a href="https://www.xsede.org/overview">eXtreme Science and Engineering Discovery Environment (XSEDE)</a>. You can read the <a href="https://www.xsede.org/getting-started">Getting Started guide</a> to learn about the process of getting onto XSEDE and applying for allocations and using XSEDE resources.</p>

            <p>For more information on how to apply for an Allocation please visit the <a href="https://iujetstream.atlassian.net/wiki/display/JWT/Jetstream+Allocations">Jetstream Wiki</a>.</p>

        </div>
    </div>
</body>
</html>
