<!DOCTYPE html>
<html>
<head>
  <title>
    Atmosphere | {{ ORG_NAME }}
  </title>
  <link rel="shortcut icon" href="{{ BASE_URL }}/assets/bundles/theme/images/favicon.ico" />
  <link rel="stylesheet" href="{{ BASE_URL }}/assets/bundles/theme/login.css"/>
</head>
<body>
    <div id="wrapper" class="center">
        <div id="imgcontainer">
            <img src="{{ BASE_URL }}/assets/bundles/theme/images/large_logo.png">
        </div>
        <div class="message-wrapper">

            <h1>You do not currently have a resource allocation.</h1>

            <p>Please reach out to<a href="mailto:{{ SUPPORT_EMAIL }}">support</a>.</p>
        </div>
    </div>
</body>
</html>
