<!DOCTYPE html>
<html>
<head>
  <title>
    Atmosphere | {{ ORG_NAME }}
  </title>
  <link rel="shortcut icon" href="{{THEME_URL}}/images/favicon.ico" />
  <link rel="stylesheet" href="{{ THEME_URL }}/css/login.css"/>
</head>
<body>
    <div id="wrapper" class="center">
        <div id="imgcontainer">
            <img src="{{ THEME_URL }}/images/large_logo.png">
        </div>
        <div class="message-wrapper">

            <h1>You do not currently have an <strong><em>ACTIVE</em></strong> Jetstream allocation.</h1>

            <p>Jetstream allocations are awarded exclusively through the <a href="https://www.xsede.org/overview">eXtreme Science and Engineering Discovery Environment (XSEDE)</a>. For instructions about how to apply for an XSEDE portal account and an XSEDE allocation see <a href="https://iujetstream.atlassian.net/wiki/display/JWT/Jetstream+Allocations">https://iujetstream.atlassian.net/wiki/display/JWT/Jetstream+Allocations</a></p>

            <p>If you have already applied for an allocation please allow 4-6 hours for processing</p>
        </div>
    </div>
</body>
</html>
