<!DOCTYPE html>
{% include 'comment.html' %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmosphere</title>

    <!--CSS-->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link href="/assets/css/app/app.css" rel="stylesheet" type="text/css">

    <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <div id="application"></div>
    <div id="modal"></div>

    {% if access_token %}
    <script type="text/javascript">
        var access_token = "{{ access_token }}";
    </script>
    {% endif %}

    <!-- Application dependencies -->
    <script data-main="/assets/js/main.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>

    <!-- Google Analtics -->
    <script src="/assets/js/analytics.js"></script>

</body>
</html>
