<!DOCTYPE html>
{% include 'comment.html' %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmosphere</title>

    <!--CSS-->
    <link rel="shortcut icon" href="{{ THEME_FAVICON }}" />
    <link href="{{ THEME_CSS_FILE }}" rel="stylesheet" type="text/css">

    <!-- Adobe Typekit (for Myriad Pro) -->
    <script type="text/javascript" src="//use.typekit.net/gty2jpo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/tpwq3d9w';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
</head>
<body class="tk-myriad-pro splash-screen">

    <div class="splash-image">
        <img src="/assets/images/login_mainimage.png">
        <div class="loading"></div>
        <h4>Loading Atmosphere...</h4>
    </div>

    <div id="application"></div>
    <div id="modal"></div>


    <script type="text/javascript">
        {% if access_token %}
            var access_token = "{{ access_token }}";
        {% endif %}

        {% if emulator_token %}
            var emulator_token = "{{ emulator_token }}";
        {% endif %}

        {% if intercom_app_id %}
            var intercom_app_id = "{{ intercom_app_id }}";
            var intercom_company_id = "{{ intercom_company_id }}";
            var intercom_company_name = "{{ intercom_company_name }}";
        {% endif %}

        {% if API_ROOT %}
            var API_ROOT = "{{ API_ROOT }}";
        {% endif %}

        {% if API_V2_ROOT %}
            var API_V2_ROOT = "{{ API_V2_ROOT }}";
        {% endif %}

        {% if THEME_HEADER_TEXT %}
            var THEME_HEADER_TEXT = "{{ THEME_HEADER_TEXT }}";
        {% endif %}

        {% if THEME_FOOTER_TEXT %}
            var THEME_FOOTER_TEXT = "{{ THEME_FOOTER_TEXT }}";
        {% endif %}

        {% if UI_VERSION %}
            var UI_VERSION = "{{ UI_VERSION }}";
        {% endif %}

        {% if show_troposphere_only %}
            var show_troposphere_only = true;
        {%  else %}
            var show_troposphere_only = false;
        {% endif %}
    </script>


    <!-- Application dependencies -->
    <script src="/assets/app.js"></script>

    <!-- Google Analtics -->
    <script src="/assets/analytics.js"></script>
</body>
</html>
