<!DOCTYPE html>
{% include 'comment.html' %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmosphere</title>

    <!--CSS-->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link href="/assets/css/app/app.css" rel="stylesheet" type="text/css">

    <!-- Adobe Typekit (for Myriad Pro) -->
    <script type="text/javascript" src="//use.typekit.net/gty2jpo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="tk-myriad-pro splash-screen">

    <div id="application">
        <div class="splash-image">
            <img src="/assets/images/login_mainimage.png"/>
            <h4 style="margin-top: -100px;">
                <p>Atmosphere is currently under maintenance.</p>
                <p>
                    You can view more information about the current maintenance on the
                    <a href="http://atmosphere.status.io/" target="_blank"> status page</a>
                </p>
            </h4>
        </div>
    </div>

</body>
</html>
