<!DOCTYPE html>
{% include 'comment.html' %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ SITE_TITLE }}</title>
    <link rel="shortcut icon" href="{{THEME_URL}}/images/favicon.ico" />

    <!--CSS-->
    <link rel="stylesheet" href="{{ BASE_URL }}/assets/app.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ THEME_URL }}/css/theme.css" rel="stylesheet" type="text/css">
    
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>

    <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/tpwq3d9w';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
</head>
<body class="splash-screen">

    <div class="splash-image">
        <div class="loading"></div>
        <h4 class="center">Loading {{ SITE_TITLE }}...</h4>
    </div>

    <div id="application"></div>
    <div id="modal"></div>


    <script type="text/javascript">
        {% if access_token %}
            var access_token = "{{ access_token }}";
        {% endif %}

        {% if emulator_token %}
            var emulator_token = "{{ emulator_token }}";
        {% endif %}

        {% if intercom_app_id %}
            var intercom_app_id = "{{ intercom_app_id }}";
            var intercom_company_id = "{{ intercom_company_id }}";
            var intercom_company_name = "{{ intercom_company_name }}";
        {% endif %}

        var BASE_URL = "{{ BASE_URL }}";

        var THEME_URL = "{{ THEME_URL }}";

        {% if API_ROOT %}
            var API_ROOT = "{{ API_ROOT }}";
        {% endif %}

        {% if BADGE_HOST %}
            var BADGE_HOST = "{{ BADGE_HOST }}";
        {% endif %}

        {% if API_V2_ROOT %}
            var API_V2_ROOT = "{{ API_V2_ROOT }}";
        {% endif %}

        {% if BADGE_HOST %}
            var BADGE_HOST = "{{ BADGE_HOST }}";
        {% endif %}

        {% if SITE_TITLE %}
            var SITE_TITLE = "{{ SITE_TITLE }}";
        {% endif %}

        {% if SITE_FOOTER %}
            var SITE_FOOTER = "{{ SITE_FOOTER }}";
        {% endif %}

        {% if UI_VERSION %}
            var UI_VERSION = "{{ UI_VERSION }}";
        {% endif %}

        {% if BADGE_HOST %}
            var BADGE_HOST = "{{ BADGE_HOST }}";
        {% endif %}

        {% if USE_GATE_ONE_API %}
            var WEB_SH_URL ="{{ WEB_SH_URL }}";
        {% endif %}

        {% if SUPPORT_EMAIL %}
            var SUPPORT_EMAIL = "{{ SUPPORT_EMAIL }}";
        {% endif %}

        {% if show_public_site %}
            var show_public_site = true;
        {%  else %}
            var show_public_site = false;
        {% endif %}

        {% if show_troposphere_only %}
            var show_troposphere_only = true;
        {%  else %}
            var show_troposphere_only = false;
        {% endif %}

        {% if show_instance_metrics %}
            var show_instance_metrics = true;
        {%  else %}
            var show_instance_metrics = false;
        {% endif %}

    </script>

    <!-- Application dependencies -->
    {% if show_public_site %}
    <script src="{{ BASE_URL }}/assets/public.js"></script>
    {% else %}
    <!-- Fire up Webockets -->
    <script>
        var new_socket_session = function(connection_path) {
            return new WebSocket("wss://{{ SERVER_BASE }}/{{ BASE_URL }}/ws"+connection_path+"?access_token={{ access_token }}");
        }
        start_socket_session = function(relative_path, message, replyCallback) {
            var socket = new_socket_session(relative_path);
            socket.onmessage = function(e) {
                console.log(e);
                replyCallback(e);
            };
            socket.onopen = function() {
                socket.send(message);
            };
            return socket;
        }
    </script>
    <script src="{{ BASE_URL }}/assets/app.js"></script>
    {% endif %}
    <!-- Google Analtics -->
    <script src="{{ BASE_URL }}/assets/analytics.js"></script>
</body>
</html>
