{% if DYNAMIC_ASSET_LOADING %}
{% load render_bundle from webpack_loader %}
{% endif %}

<!DOCTYPE html>
{% include 'comment.html' %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ SITE_TITLE }}</title>
    <link rel="shortcut icon" href="{{THEME_URL}}/images/favicon.ico" />

    <!--CSS-->
{% if DYNAMIC_ASSET_LOADING %}
    {% render_bundle 'app' 'css' %}
{% else %}
    <link href="{{ BASE_URL }}/assets/bundles/app.css" rel="stylesheet" type="text/css">
{% endif %}

    <link href="{{ THEME_URL }}/css/theme.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>

    <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% if new_relic_enabled %}
    {% include new_relic_browser_snippet %}
{% endif %}

    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/tpwq3d9w';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
</head>
<body class="splash-screen">

    <div class="splash-image">
        <div class="loading"></div>
        <h4 style="margin-top: 20px" class="center t-title">Loading {{ SITE_TITLE }}...</h4>
    </div>

    <div id="application"></div>
    <div id="modal"></div>


    <script type="text/javascript">
{% if access_token %}
    var access_token = "{{ access_token }}";
{% endif %}

    var login_auth_allowed = {{ login_auth_allowed|safe }};
{% if use_login_selection %}
    var use_login_selection = true;
{% else %}
    var use_login_selection = false;
{% endif %}

{% if emulator and emulator_token %}
    var emulator = "{{ emulator }}";
    var emulator_token = "{{ emulator_token }}";
{% endif %}

{% if intercom_app_id %}
    var intercom_app_id = "{{ intercom_app_id }}";
    var intercom_company_id = "{{ intercom_company_id }}";
    var intercom_company_name = "{{ intercom_company_name }}";
{% endif %}

    var BASE_URL = "{{ BASE_URL }}";

    var THEME_URL = "{{ THEME_URL }}";

{% if API_ROOT %}
    var API_ROOT = "{{ API_ROOT }}";
{% endif %}

{% if BADGE_HOST %}
    var BADGE_HOST = "{{ BADGE_HOST }}";
{% endif %}

{% if API_V2_ROOT %}
    var API_V2_ROOT = "{{ API_V2_ROOT }}";
{% endif %}

{% if BADGE_HOST %}
    var BADGE_HOST = "{{ BADGE_HOST }}";
{% endif %}

{% if ORG_NAME %}
    var ORG_NAME = "{{ ORG_NAME }}";
{% endif %}

{% if SITE_TITLE %}
    var SITE_TITLE = "{{ SITE_TITLE }}";
{% endif %}

{% if SITE_FOOTER %}
    var SITE_FOOTER = "{{ SITE_FOOTER }}";
{% endif %}

{% if SITE_FOOTER_LINK %}
    var SITE_FOOTER_LINK = "{{ SITE_FOOTER_LINK }}";
{% endif %}

{% if UI_VERSION %}
    var UI_VERSION = "{{ UI_VERSION }}";
{% endif %}

{% if BADGE_HOST %}
    var BADGE_HOST = "{{ BADGE_HOST }}";
{% endif %}

{% if USE_GATE_ONE_API %}
    var WEB_SH_URL ="{{ WEB_SH_URL }}";
{% endif %}

{% if SUPPORT_EMAIL %}
    var SUPPORT_EMAIL = "{{ SUPPORT_EMAIL }}";
{% endif %}

{% if DISPLAY_STATUS_PAGE %}
    var STATUS_PAGE_LINK = "{{ STATUS_PAGE_LINK }}";
{% endif %}

{% if WEB_DESKTOP_INCLUDE_LINK %}
    var WEB_DESKTOP_INCLUDE_LINK = "{{ WEB_DESKTOP_INCLUDE_LINK }}";
{% endif %}

{% if show_public_site %}
    var show_public_site = true;
{%  else %}
    var show_public_site = false;
{% endif %}

{% if show_instance_metrics %}
    var SHOW_INSTANCE_METRICS = true;
{%  else %}
    var SHOW_INSTANCE_METRICS = false;
{% endif %}

{% if USE_MOCK_DATA %}
    var USE_MOCK_DATA = true;
{%  else %}
    var USE_MOCK_DATA = false;
{% endif %}

{% if USE_ALLOCATION_SOURCES %}
    var USE_ALLOCATION_SOURCES = true;
{%  else %}
    var USE_ALLOCATION_SOURCES = false;
{% endif %}

{% if notice %}
    var maint_notice = {
         title: "{{notice.title}}",
         message: "{{notice.message}}"
    };
{% endif %}

{% if SENTRY_ENABLED %}
{% load raven %}
var SENTRY_ENABLED = true;
var SENTRY_DSN = '{% sentry_public_dsn 'https' %}';
var SENTRY_TAGS = {{ sentry_tags_dict|safe }};
{% else %}
var SENTRY_ENABLED = false;
{% endif %}

{% if USER_PORTAL %}
    var user_portal = {{USER_PORTAL | safe}};
{% endif %}
    </script>

{% if DYNAMIC_ASSET_LOADING %}
    <!-- Application dependencies -->
    {% render_bundle 'manifest' 'js' %}
    {% render_bundle 'vendor' 'js' %}

    {% if show_public_site %}
    {% render_bundle 'public' 'js' %}
    {% else %}
    {% render_bundle 'app' 'js' %}
    {% endif %}
    <!-- Google Analytics -->
    {% render_bundle 'analytics' 'js' %}
{% else %}
    <script src="{{ BASE_URL }}/assets/bundles/manifest.js"></script>
    <script src="{{ BASE_URL }}/assets/bundles/vendor.js"></script>
    {% if show_public_site %}
    <script src="{{ BASE_URL }}/assets/bundles/public.js"></script>
    {% else %}
    <script src="{{ BASE_URL }}/assets/bundles/app.js"></script>
    {% endif %}
    <!-- Google Analytics -->
    <script src="{{ BASE_URL }}/assets/bundles/analytics.js"></script>
{% endif %}
</body>
</html>
