<!DOCTYPE html>
{% include 'comment.html' %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmosphere</title>

    <!--CSS-->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link href="/assets/css/app/app.css" rel="stylesheet" type="text/css">

    <!-- Adobe Typekit (for Myriad Pro) -->
    <script type="text/javascript" src="//use.typekit.net/gty2jpo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="tk-myriad-pro splash-screen">

    <div class="splash-image">
        <img src="/assets/images/login_mainimage.png">
        <div class="loading"></div>
        <h4>Loading Atmosphere...</h4>
    </div>

    <div id="application"></div>
    <div id="modal"></div>

    <script type="text/javascript">
        {% if API_ROOT %}
            var API_ROOT = "{{ API_ROOT }}";
        {% endif %}

        {% if API_V2_ROOT %}
            var API_V2_ROOT = "{{ API_V2_ROOT }}";
        {% endif %}
    </script>

    <!-- Application dependencies -->
    <script data-main="/assets/js/public_site/main.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>

    <!-- Google Analtics -->
    <script src="/assets/js/analytics.js"></script>

</body>
</html>
