<!DOCTYPE html>
<html>
<head>
    <title>
        Atmosphere Airport | {{ ORG_NAME }}
    </title>
    <link rel="shortcut icon" href="{{THEME_URL}}/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ THEME_URL }}/css/login.css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}/assets/resources/js/d3.v3.min.js"></script>

    <script type="text/javascript">
        var BASE_URL = "{{ BASE_URL }}";

    {% if API_ROOT %}
        var API_ROOT = "{{ API_ROOT }}";
    {% endif %}
    </script>
</head>
<body>
<div id="wrapper">

    <div id="login" class="row">

        <div class="col-md-12" >
            <div id="imgcontainer" class="center">
                <img src="{{ THEME_URL }}/images/large_logo.png" alt="Log in to Atmosphere"/>
            </div>
            <h1>Atmosphere is under planned maintenance</h1>
            <h2>
                <small color="#444">{{ ORG_NAME }} Cloud Services</small>
            </h2>

            <div class="center" style="width: 50%; margin-left: auto; margin-right: auto">
                {% for record in records %}
                    <div class='maintenance-message'
                         id='maintenance-record-{{ record.id }}'>
                        <i class="glyphicon glyphicon-info-sign icon-white"></i>
                    {% if record.provider %}
                        {{ record.provider }} {{ record.message }}
                    {% else %}
                        {{ record.message }}
                    {% endif %}</div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>



</body>
</html>
