<!DOCTYPE html>
<html>
<head>
  <title>
    Atmosphere | {{ ORG_NAME }}
  </title>
  <link rel="shortcut icon" href="{{THEME_URL}}/images/favicon.ico" />
  <link rel="stylesheet" href="{{ THEME_URL }}/css/login.css"/>
{% if banner %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
{% endif %}
</head>
<body>
    <div id="wrapper" class="center">
        <div id="imgcontainer">
            <img src="{{ THEME_URL }}/images/large_logo.png">
        </div>
        <div class="message-wrapper">
{% if banner %}
            <div id="toast-container" class="toast-top-full-width">
                <div class="toast toast-error">
                    <div class="toast-title"> Errors occurred during login: </div>
                    <div id="toast-msg-target" class="toast-message">{{ banner }}</div>
                </div>
            </div>
{% endif %}




            <h1>Your account does not currently have access to Atmosphere.</h1>

            <p>If you would like to request access, you can do so by contacting <a href="mailto:{{SUPPORT_EMAIL}}">Support</a>.</p>

            <p>
              If your access has already been approved, then you must wait until your access request
              has been granted. If you continue to see this page after approval, you may be seeing
              this page because your session has expired. Click below to attempt another login.
            </p>

            <p>
              If multiple attempts to login do not work and you have waited at least two hours
              since your approval. Please contact Support, <a href="mailto:{{SUPPORT_EMAIL}}">{{SUPPORT_EMAIL}}</a>.
            </p>

            <a class="submitButton" href="/logout?force=true">
                Attempt to Login Again
            </a>
        </div>
    </div>
</body>
</html>
