.admin-detail button{
	margin-right: 2%;
}

.admin-detail div{
	margin-top: 2%;
}

.admin-row, .quota-inline{
	width: 100%;
}

.user-name a.active{
	color: $navbar-default-bg;
	font-weight: bold;
}

.center{
	text-align: center;
}

.inline div, .inline p{
	display: inline-block;
}

.requests{
	padding: 0;

	li{
		list-style-type: none;
	}

	h3{
		width: 33%;
		display: inline-block;
	}
}

.request{
	width: 100%;
	margin-bottom: 1%;
	padding: 1%;
	padding-left: 0;

	.request-info, .request-actions{
		width: 50%;
	}

	.buttons{
		text-align: center;
	}

	.inline-block{
		display: inline-block;
	}

	input[type="radio"]{
    	margin: 4px 5px 0;
	}

	textarea{
		width: 100%;
		height: 100px;
	}

	>a{
		width: 100%;
		height: 100%;
	}

	a>div{
		display: inline-block;
		width: 32%;
		margin-right: 1%;
	}
}
