.admin-detail textarea, select{
	width: 95%;
}

.admin-table{
	float: left;
	width: 50%;
}

.admin-detail{
	width: 48%;
	float: right;
	padding: 1%;
	position: relative;
	border: 5px solid;
    border-color: $brand-primary;
}

.admin-detail button{
	margin: 2%;
}

.admin-detail div{
	margin: 2%;
}

.admin-row, .quota-inline{
	width: 100%;
}

.user-name a.active{
	color: $navbar-default-bg;
	font-weight: bold;
}

.center{
	text-align: center;
}

.inline div, .inline p{
	display: inline-block;
}