.admin{
    .glyphicon-refresh:hover{
        cursor: pointer;
    }
}
.admin-detail button{
	margin-right: 2%;
}

.admin-row, .quota-inline{
	width: 100%;
}

.user-name a.active{
	color: $navbar-default-bg;
	font-weight: bold;
}

.center{
	text-align: center;
}

.inline div, .inline p{
	display: inline-block;
}

.requests{
	padding: 0;

	li{
		list-style-type: none;
	}

	h3{
		width: 33%;
		display: inline-block;
	}
}

.requests-list{
	width: 29%;
	height: 500px;
	overflow: scroll;
	padding: 0;
	margin-right: 1%;
	border: 2px solid lightgray;

	li{
		list-style-type: none;
	}

	li:nth-child(odd){
		background: lightgrey;
	}

	li:hover{
		cursor: pointer;
	}
}

.request-admin{
	width: 69%;
	border: 2px solid lightgray;
	padding: 1%;
}

.request-info{
	h4, h5{
		margin: 0;
	}

	h5{
		padding-bottom: 2%;
	}

	.user-info{
		h4, h5{
			display: inline-block;
		}

		.name{
			width: 25%;
			display: inline-block;
		}
	}
}

.admin-detail{
	input[type="radio"]{
    	margin: 4px 5px 0;
	}
	textarea{
		width: 500px;
		height: 250px;
	}
}
