.admin-detail textarea, select{
	width: 95%;
}

.admin-table{
    background:#F2F2F2;
}

.admin-detail{
	width: 48%;
	float: right;
	padding: 1%;
	position: relative;
	border: 5px solid;
    border-color: $brand-primary;

    .radio-buttons{
    	input[type="radio"]{
    		margin: 1%;
    	}
    }
}

.admin-detail button{
	margin: 2%;
}

.admin-detail div{
	margin-top: 2%;
}

.admin-row, .quota-inline{
	width: 100%;
}

.user-name a.active{
	color: $navbar-default-bg;
	font-weight: bold;
}

.center{
	text-align: center;
}

.inline div, .inline p{
	display: inline-block;
}
