//
// Vendor Stylesheet Customization
// -------------------------------
//

/* For: Bootstrap */

// We need to let bootstrap know the path to our glyphicons
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "variables";

//$link-color: $brand-primary;
//$tag-color: $brand-primary;


//
// Vendor Stylesheets
// ------------------
//

@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// toastr, for showing toast notifications
@import "~toastr/toastr";

//
// Bootstrap hacks
//

// Keep Modal footer at bottom on min-height modals
#modal {
  .modal-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .modal-body {
    padding-bottom: 60px;
    min-height: 500px;
  }
}

// This is not ideal, trying to find a better solution.
// The problem is that bootstrap thinks we want a max-height 
// and that 340px is the magic value.

.navbar-fixed-top .navbar-collapse {
    max-height: 900px !important;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #c3e9f3;
        &:hover {
            color: white
        }
    }
}

//
// Application specific styles
// ---------------------------
//
@import "utilities";
@import "layout";
@import "typography";
@import "common";
@import "stacked_nav";
@import "header";
@import "dashboard";
@import "settings";
@import "applications";
@import "global";
@import "splash_page";
@import "loading";
@import "projects";
@import "request_image_form";
@import "instance";
@import "project_resource";
@import "provider";
@import "footer";
@import "chosen_tweaks";
@import "modal";
@import "admin";
@import "badges";
@import "images";
@import "media-cards";
@import "cy-table";
@import "TabLinks";
@import "tags";
@import "toastr_mods";

// Primary - header
// when headers button is pressed
// link color + on hover
// graph colors
// buttons + button on press
// secondary nav background
// body background


// primary + shade
// accent + shade
