//
// Vendor Stylesheet Customization
// -------------------------------
//

/* For: Bootstrap */

// Basics of the navbar
$navbar-default-bg: #0098aa;

// Navbar links
$navbar-default-link-color: darken(white, 10%);
$navbar-default-link-hover-color: white;
$navbar-default-link-active-color:         white;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
//$navbar-default-link-active-bg: #00aabd; // alternate lighter color

// Navbar brand label
$navbar-default-brand-color: white;
$navbar-default-brand-hover-color: $navbar-default-brand-color;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $navbar-default-link-active-bg;
$navbar-default-toggle-icon-bar-bg:        #fff;
$navbar-default-toggle-border-color:       $navbar-default-link-active-bg;

// We need to let bootstrap know the path to our glyphicons (stored in bower_components)
$icon-font-path: "/assets/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

//
// Vendor Stylesheets
// ------------------
//

@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

/* Import bootstrap-chosen for styling the Chosen multi-select like Bootstrap */
// We need to let bootstrap-chosen know the path to the spite image it uses (stored in bower_components)
$chosen-sprite-path: '/assets/bower_components/bootstrap-chosen/chosen-sprite.png';
@import "../../bower_components/bootstrap-chosen/bootstrap-chosen";

// toastr, for showing toast notifications
@import "../../bower_components/toastr/toastr";

//
// Application specific styles
// ---------------------------
//

@import "layout";
@import "header";
@import "dashboard";
@import "volumes";
@import "settings";
@import "applications";
@import "global";
@import "splash_page";
@import "loading";
@import "projects";
@import "request_image_form";
@import "instance";
@import "project_resource";
