//
// Vendor Stylesheet Customization
// -------------------------------
//

/* For: Bootstrap */

// Basics of the navbar
$navbar-default-bg: #0098aa;
$brand-primary: #56AA21;
$logo-url: '/assets/images/mini_logo.png';
$application-name: 'Atmosphere';

// React theme for testing
//$navbar-default-bg: #00bcd4;
//$brand-primary: #ff4081;
//$logo-url: 'http://facebook.github.io/react/img/logo_og.png';
//$application-name: 'React';

// Navbar links
$navbar-default-link-color: darken(white, 10%);
$navbar-default-link-hover-color: white;
$navbar-default-link-active-color:         white;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
//$navbar-default-link-active-bg: #00aabd; // alternate lighter color

// Navbar brand label
$navbar-default-brand-color: white;
$navbar-default-brand-hover-color: $navbar-default-brand-color;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $navbar-default-link-active-bg;
$navbar-default-toggle-icon-bar-bg:        #fff;
$navbar-default-toggle-border-color:       $navbar-default-link-active-bg;

// We need to let bootstrap know the path to our glyphicons (stored in bower_components)
$icon-font-path: "/assets/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$link-color: $brand-primary;
$tag-color: $brand-primary;

//
// Vendor Stylesheets
// ------------------
//

@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

/* Import bootstrap-chosen for styling the Chosen multi-select like Bootstrap */
// We need to let bootstrap-chosen know the path to the spite image it uses (stored in bower_components)
$chosen-sprite-path: '/assets/bower_components/bootstrap-chosen/chosen-sprite.png';
$chosen-sprite-retina-path: $chosen-sprite-path;
@import "../../bower_components/bootstrap-chosen/bootstrap-chosen";

// toastr, for showing toast notifications
@import "../../bower_components/toastr/toastr";

//
// Application specific styles
// ---------------------------
//

@import "layout";
@import "common";
@import "header";
@import "dashboard";
@import "volumes";
@import "settings";
@import "applications";
@import "global";
@import "splash_page";
@import "loading";
@import "projects";
@import "request_image_form";
@import "instance";
@import "project_resource";
@import "provider";
@import "footer";
@import "chosen_tweaks";
@import "modal";
@import "quota";

// Primary - header
// when headers button is pressed
// link color + on hover
// graph colors
// buttons + button on press
// secondary nav background
// body background


// primary + shade
// accent + shade