.app-card-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 20px 20px 0;
    display: inline-block;
  }

  /* App cards on image lists */
  .app-card {
    border: 1px solid #ccc;

    .launch-button {
      display: none;
    }
  }
}

/* All app cards  */
.app-card {
  width: 220px;
  padding: 20px;
  border-radius: 5px;
  position: relative;

  .icon-container {
    text-align: center;
    margin-bottom: 15px;
  }

  .app-name a {
    display: block;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#app-detail {

  h2 {
    display: inline-block;
    //margin-right: 15px;
    font-size: 19px;
  }

  /* App cards on image detail page */
  .app-card {
    background-color: hsl(0, 0%, 90%);

    .app-name {
      display: none;
    }

    .rating {
      display: none;
    }
  }
}

ul.tags {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;

    a {
      padding: 5px 10px;
      border-radius: 3px;
      background-color: #48A323;
      color: #EEE;
      border: 0;

      &:hover {
        background-color: #139418;
        border: 0;
      }
    }
  }
}

.rating {
  font-size: 16px;
  padding: 10px 0;

  > div {
    text-align: center;
  }

  .votes {
    i {
      font-size: 20px;
    }
    span {
      padding-left: 5px;
    }
  }

  .votes-up {
    i {
      color: #339933;
    }
  }

  .votes-down {
    i {
      color: #cc3333;
    }
  }

}

.nav-back {
  //float: left;
  padding: 9px 14px;
  margin-right: 10px;

  background-color: #444 !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  border: none;

  .glyphicon {
    color: white;
    -webkit-transform: scaleX(2.5) scaleY(3);
  }
}

.image-header {
  margin-bottom: 10px;

  h1 {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    font-size: 28px;
    font-weight: 600;
  }
}

.image-tags {
  h2 {
    margin-right: 10px;
    margin-bottom: 15px;
  }

  > a {
    color: #48A323;
    text-decoration: underline;
    font-weight: 300;
    font-size: 16px;
  }
}

.image-availability {
  h2 {
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
  }

  span {
    font-size: 17px;
    font-weight: normal;
  }

}

.image-description {
  h2 {
    margin-bottom: 10px;
  }

  p {
    // Formula to convert Illustrator's 'leading' to line-height
    // line-height = font-size + leading/2
    // http://jeffyam.com/node/189
    line-height: 30px;
    font-size: 16px;
    color: #414042;
  }
}

/* Bookmarks */
.bookmark {
  width: 0px;
  height: 35px;
  position: absolute;
  top: -5px;
  right: 7px;
  z-index: 1;
  border-radius: 4px;
  box-sizing: content-box;

  &.off {
    border-right: 15px solid hsl(0, 0%, 40%);
    border-left: 15px solid hsl(0, 0%, 40%);
    border-bottom: 10px solid transparent;

    &:hover {
      border-right-color: hsl(0, 0%, 30%);
      border-left-color: hsl(0, 0%, 30%);
    }

    &::after {
      content: "";
      height: 39px;
      position: absolute;
      top: 2px;
      left: -13px;
      border-radius: 2px;
      border-right: 13px solid #fff;
      border-left: 13px solid #fff;
      border-bottom: 9px solid transparent;
    }
  }

  &.on {
    border-right: 15px solid hsl(0, 100%, 25%);
    border-left: 15px solid hsl(0, 100%, 25%);
    border-bottom: 10px solid transparent;

    &:hover::after {
      border-right-color: hsl(0, 96%, 44%);
      border-left-color: hsl(0, 96%, 44%);
    }

    &::after {
      content: "";
      height: 39px;
      position: absolute;
      top: 2px;
      left: -13px;
      border-radius: 2px;
      border-right: 13px solid hsl(0, 96%, 40%);
      border-left: 13px solid hsl(0, 96%, 40%);
      border-bottom: 9px solid transparent;
    }
  }
}

/* View selector for cards, as list or as cards */
.view-selector {
  float: right;

  > span {
    margin-right: 5px;
  }

  .btn {
    font-size: 12px;
    margin-left: 5px;
  }
}

/* App detail page */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #app-detail {
    padding-right: 240px;
    position: relative;

    .app-card {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

/* Search */
#search-container {
  text-align: center;
}

.search-input {
  height: 3.5em;
  margin-bottom: 1em;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.advanced-search-options {
  margin-top: 10px;
  text-align: left;
}
