// todo: this is a hack to get the cards to align in the center of the page
// find a better way to do this, or (at least) modify this value to adjust
// for different screen sizes

.display-toggles {
  .t-title {
    float: left;
  }
}

.app-card-list {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;

  .media {
    .icon-container {
      margin-left: 10px;
    }

    .t-body-2 {
      margin: 0;
    }
  }

}

#app-detail {
  .image-launch-card {
    background-color: #EEEEEE;

    width: 237px;
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    position: relative;

    .icon-container {
      text-align: center;
      margin-bottom: 38px;

      img {
        border-radius: 5px;
        border: 1px solid #ccc;
      }
    }

    .launch-button {
      width: 100%;
      display: block;
    }
  }
}

.tags {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: -6px;
  font-size: 10px;

  .tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;

    span, a {
      padding: 3px 8px;
      border-radius: 9999px;
      border: 0;
    }

    a:hover {
      border: 0;
    }
  }
}

.rating {
  font-size: 16px;
  padding: 10px 0;

  > div {
    text-align: center;
  }

  .votes {
    i {
      font-size: 20px;
    }
    span {
      padding-left: 5px;
    }
  }

  .votes-up {
    i {
      color: #339933;
    }
  }

  .votes-down {
    i {
      color: #cc3333;
    }
  }

}

.nav-back {
  padding: 10px 13px !important;
  margin-right: 10px;

  background-color: #444 !important;
  border: none;

  .glyphicon {
    color: white;
    transform: scaleX(1.8) scaleY(2.2);
  }
}

.image-header {
  margin-bottom: 10px;

  .t-title {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
  }

  .addToProject {
    float: right;
    background-color: #BEE5EA;
    font-size: 17px;
    padding: 4px 9px;

    i {
      margin-right: 5px;
    }
  }
}

.image-tags {
  .resource-tags {
    > span {
      display: inline-block;
      font-size: 17px;
      margin-right: 10px;
      margin-bottom: 15px;
      margin-top: 20px;
      font-weight: 500;
      line-height: 1.1;
      padding-right: 0px;
    }

    a.toggle-editing-link {
      color: $link-color;
      text-decoration: underline;
      font-weight: 300;
      font-size: 16px;
    }

    .tags {
      margin-top: 0px;
    }

    .tagger {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}

.image-description {
  p {
    // Formula to convert Illustrator's 'leading' to line-height
    // line-height = font-size + leading/2
    // http://jeffyam.com/node/189
    line-height: 25px;
    font-size: 14px;
    color: #666;
  }
}

.image-versions {
  .loading {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

/* View selector for cards, as list or as cards */
.view-selector {
  float: right;

  > span {
    margin-right: 5px;
  }

  .btn {
    font-size: 12px;
    margin-left: 5px;
  }
}

/* App detail page */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #app-detail {
    .app-card {
      float: right;
    }

    .image-launch-card {
      float: right;
    }
  }
}

@media (max-width: 991px) {
  .app-card-grid {
    .gridCell {
      width: 33%;
    }
  }
}

@media (max-width: 767px) {
  .app-card-grid {
    .gridCell {
      width: 50%;
    }
  }
}

/* Search */
.search-input {
  margin-bottom: 5px;
}

.advanced-search-options {
  margin-top: 10px;
  text-align: left;
}

.tag-title {
  margin-bottom: 10px;
}

.image-content {
  .edit-link-row {
    .edit-link {
      text-align: left;
      padding-left: 0;
    }
  }
}
