// todo: this is a hack to get the cards to align in the center of the page
// find a better way to do this, or (at least) modify this value to adjust
// for different screen sizes
.application-card-view {
  h3 {
    border-bottom: 1px solid #ccc;
  }
}

.display-toggles {
  h3 {
    border: none;
    float: left;
    margin: 0;
  }
}

.app-card-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin: 0 0 20px 0;
  }

  .app-card {
    border: 1px solid #ccc;
    width: 100%;

    .icon-container {
      margin-left: 20px;
      text-align: left;
    }

    .app-name {
      vertical-align: top;
      display: inline-block;

      h4 {
        font-size: 19px;
        font-weight: bold;
        margin: 0;
      }
    }

    .tags {
      padding-left: 0px;
      padding-right: 0px;
    }

    p {
      white-space: normal;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      margin-bottom: 0;
    }
  }
}

.app-card-grid {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin: 0 0 20px 0;
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }

  /* App cards on image lists */
  .app-card {
    border: 1px solid #ccc;

    .launch-button {
      display: none;
    }
  }
}

/* All app cards  */
.app-card {
  width: 225px;
  padding: 20px 0px 26px 0px;
  border-radius: 5px;
  position: relative;
  background-color: white;

  .icon-container {
    text-align: center;
    margin-bottom: 8px;

    img {
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  }

  .app-name {
    //text-align: center;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 9px;
  }

  .tags {
    padding-left: 22px;
    padding-right: 22px;

    .tag {
      font-size: 10px;
      margin-right: 4px;
      margin-bottom: 4px;

      span, a {
        padding: 3px 7px;
      }
    }
  }
}

#app-detail {

  h2 {
    display: inline-block;
    //margin-right: 15px;
    font-size: 17px;
  }

  .image-launch-card {
    background-color: #EEEEEE;

    width: 237px;
    padding: 38px 0px 26px 0px;
    border-radius: 5px;
    position: relative;

    .icon-container {
      text-align: center;
      margin-bottom: 38px;

      img {
        border-radius: 5px;
        border: 1px solid #ccc;
      }
    }

    .launch-button {
      font-size: 21px;
      padding: 7px 56px;
      margin: auto;
      display: block;
    }

    a.launch-button {
      margin: 0px 30px;
      padding: 7px 0px;
    }
  }
}

ul.tags {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;

    span, a {
      padding: 5px 10px;
      border-radius: 3px;
      background-color: #48A323;
      color: #EEE;
      border: 0;
    }

    a:hover {
      background-color: #139418;
      border: 0;
    }
  }
}

.rating {
  font-size: 16px;
  padding: 10px 0;

  > div {
    text-align: center;
  }

  .votes {
    i {
      font-size: 20px;
    }
    span {
      padding-left: 5px;
    }
  }

  .votes-up {
    i {
      color: #339933;
    }
  }

  .votes-down {
    i {
      color: #cc3333;
    }
  }

}

.nav-back {
  //float: left;
  padding: 10px 13px !important;
  margin-right: 10px;

  background-color: #444 !important;
  border: none;

  .glyphicon {
    color: white;
    //-webkit-transform: scaleX(2.5) scaleY(3);
    -webkit-transform: scaleX(1.8) scaleY(2.2);
  }
}

.image-header {
  margin-bottom: 10px;

  h1 {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    font-size: 25px;
    //font-weight: 600;
  }

  button {
    float: right;
    background-color: #BEE5EA;
    font-size: 17px;
    padding: 4px 9px;

    i {
      margin-right: 5px;
    }
  }
}

.image-tags {
  .resource-tags {
    > span {
      display: inline-block;
      font-size: 17px;
      margin-right: 10px;
      margin-bottom: 15px;
      margin-top: 20px;
      font-weight: 500;
      line-height: 1.1;
      padding-right: 0px;
    }

    a.toggle-editing-link {
      color: #48A323;
      text-decoration: underline;
      font-weight: 300;
      font-size: 16px;
    }

    .tags {
      margin-top: 0px;
    }

    .tagger {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}

.image-availability {
  h2 {
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
  }

  span {
    font-size: 17px;
    font-weight: normal;
  }

}

.image-description {
  h2 {
    margin-bottom: 3px;
  }

  p {
    // Formula to convert Illustrator's 'leading' to line-height
    // line-height = font-size + leading/2
    // http://jeffyam.com/node/189
    line-height: 25px;
    font-size: 14px;
    color: #666;
  }
}

.image-versions {
  .loading {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  h2 {
    margin-bottom: 15px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    position: relative;
    margin-bottom: 18px;
  }

  .recommended-tag {
    padding: 4px 10px;
    border-radius: 3px;
    background-color: #FBB040;
    color: #EEE;
    border: 0;
    font-size: 13px;
    margin-left: 10px;
  }

  img {
    margin-right: 20px;
    border-radius: 3px;
  }

  .image-version-details {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;

    //height: 75px;
    line-height: 21px;

    .version {
      font-size: 15px;
    }
  }
}

/* Bookmarks */
.bookmark {
  position: absolute;
  top: 8px;
  right: 8px;

  img {
    height: 24px;
    width: 24px;
    display: block;
  }
}

/* View selector for cards, as list or as cards */
.view-selector {
  float: right;

  > span {
    margin-right: 5px;
  }

  .btn {
    font-size: 12px;
    margin-left: 5px;
  }
}

/* App detail page */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #app-detail {
    .app-card {
      float: right;
    }

    .image-launch-card {
      float: right;
    }
  }
}

@media (max-width: 991px) {
  .app-card-grid {
    > li {
      width: 33%;
    }
  }
}

@media (max-width: 767px) {
  .app-card-grid {
    > li {
      width: 50%;
    }
  }
}

/* Search */
#search-container {
  text-align: center;
}

.search-input {
  height: 55px;
  font-size: 20px;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.advanced-search-options {
  margin-top: 10px;
  text-align: left;
}

ul.tag-list {
  list-style-type: none;
  padding-left: 0;

  li.tag-item {
    //border-top: solid 1px #ddd;

    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #6AA54F;

    h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.image-tag-list {
  table {
    h4 {
      min-height: 30px;
    }
  }
}