.badge-image{
    width:150px;
}

.badges{
    .glyphicon-question-sign{
        font-size: 20px;
        position: relative;
        left:4%;
        top: 6px;

        &:hover{
            cursor: pointer;
        }
    }
}
