.badges {
  p{
    height: 40px;
    overflow: scroll; 
  }
  .buttons{
    margin-left: 12.5%;
    margin-right: 12.5%;
    .btn{
      background-color: $navbar-default-bg;
      color: white;
      border-color: white;
    }
  }
  h1 {
    text-align: center;
  }
  ul {
    position: relative;
    padding: 0;
  }
  .image {
    width: 100%;
  }
  .text {
    text-align: center;
    position: relative; 
  }
    
  li {
    position: relative;
    display: inline-block;
    width: 14.6%;
    margin: 1%;   
    height: 300px;

    h4 {
      text-align: center;
    }
  }
  .all {
    list-style-type: none;
  }
  .mine {
    list-style-type: none;
  }
  .btn{
    margin-top: 2%;
    width: 25%;
  }
}

.badge-li{
  vertical-align: middle;
}

