.badges{
  h1{
    text-align: center;
  }
  ul{
    padding: 0;
  }
  .image{
    width: 100%;
  }
  .text{
    text-align: center;
    overflow-y: scroll;
    height: 40px;
  }
  li{
    display: inline-block;
    width: 10.5%;
    margin: 1%;

    h4{
      text-align: center;
    }
  }
  .all{
    list-style-type: none;
  }
  .mine{
    list-style-type: none;
  }
}
.badge-modal .modal-image{
  width: 100%;
  margin: 0 auto;
  display: block;
}

.badge-modal .description {
  p, strong {
    display: inline-block;
  }
}
