$chosen-background: $input-bg !default;
$chosen-border: 1px solid $input-border !default;
$chosen-border-radius: $input-border-radius !default;
$chosen-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !default;
$chosen-drop-border: $input-border !default;
$chosen-drop-box-shadow: 0 8px 8px rgba(0, 0, 0, .25) !default;
$chosen-drop-zindex: 1060 !default;
$chosen-sprite-path: '../../images/chosen-sprite@2x.png';
$chosen-sprite-retina-path: $chosen-sprite-path;

.chosen-select { width: 100%; }
.chosen-select-deselect { width: 100%; }

.chosen-container-external {
  display: block;
  font-size: $font-size-base;
  position: relative;
  vertical-align: middle;

  .chosen-drop {
    background: $chosen-background;
    border: 1px solid $chosen-drop-border;
    @include border-bottom-radius($chosen-border-radius);
    @include box-shadow($chosen-drop-box-shadow);
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: -9000px;
    z-index: $chosen-drop-zindex;
  }

  &.chosen-with-drop .chosen-drop {
    left: 0;
    right: 0;
  }

  .chosen-results {
    color: $gray;
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    li {
      display: none;
      line-height: $line-height-base; // 15px;
      list-style: none;
      margin: 0;
      padding: 5px 6px;

      em {
        background: #feffde;
        font-style: normal;
      }

      &.group-result {
        display: list-item;
        cursor: default;
        color: #999;
        font-weight: bold;
      }

      &.group-option {
        padding-left: 15px;
      }

      &.active-result {
        cursor: pointer;
        display: list-item;
      }

      &.highlighted {
        background-color: $link-color;
        background-image: none;
        color: white;

        em {
          background: transparent;
        }
      }

      &.disabled-result {
        display: list-item;
        color: $gray-light;
      }
    }

    .no-results {
      background: $gray-lighter;
      display: list-item;
    }
  }

  .chosen-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px;
    z-index: 1;

    span {
      display: inline-block;
      height: $line-height-base; // 17px;
      text-indent: -5000px;
      width: 9px;
    }
  }

  .chosen-results-scroll-down {
    bottom: 0;

    span {
      background: url($chosen-sprite-path) no-repeat -4px -3px;
    }
  }

  .chosen-results-scroll-up {
    span {
      background: url($chosen-sprite-path) no-repeat -22px -3px;
    }
  }
}

.chosen-container-external-multi {
  .chosen-choices {
    cursor: text;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 3px;

    li {
      float: left;
      list-style: none;
    }

    .search-choice {
      -webkit-background-clip: padding-box;
         -moz-background-clip: padding;
              background-clip: padding-box;
      background-color: $gray-lighter;
      border: $chosen-border;
      @include border-top-radius($chosen-border-radius);
      @include border-bottom-radius($chosen-border-radius);
      @include gradient-vertical(white, $gray-lighter);
      @include box-shadow($chosen-box-shadow);
      color: $gray-dark;
      cursor: pointer;
      line-height: 13px;
      margin: 0px 5px 5px 0px;
      padding: 5px;
      position: relative;

      .glyphicon-remove {
        font-size: 10px;
        color: #cccccc;
      }

      &:hover > span > .glyphicon-remove {
        color: #3d3d3d;
      }
    }

    .search-choice-focus {
      background: #d4d4d4;

      .search-choice-close {
        background-position: right -11px;
      }
    }
  }

  .chosen-results {
    margin: 0 0 0 0;
    padding: 0;
  }

  .chosen-drop {
    .result-selected {
      display: none;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .chosen-container-external-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container-external .chosen-results-scroll-down span,
  .chosen-container-external .chosen-results-scroll-up span {
    background-image: url($chosen-sprite-retina-path) !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}

//Bootstrap hack for list-group-item

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
     z-index: 2;
     color:#333333;
     background:white;
     border-color: #56AA21;
     box-shadow: 0 0 6px #56aa21;
 }

// Responsive Tables
// All elements should be given the appropriate utility class as follows 
// sm-table
// sm-thead
// sm-header
// sm-tbody
// sm-row
// sm-cell


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    .sm-table, .sm-thead, .sm-tbody, .sm-header, .sm-cell, .sm-row {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
   .sm-thead .sm-row {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .sm-row {
        background-color:white !important;
        border: 1px solid #ccc;
        padding:5px;
        margin-bottom:10px
    }

    .sm-cell {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding:3px 3px 3px 50% !important;
    }

    .sm-cell:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */

    .sm-cell[data-label]:before{
        content: attr(data-label);
    }
}
