#dashboard-view {

  h2 {
    font-size: 28px;
    border-bottom: 1px solid #dddddd;
  }

  .secondary-nav {
    margin-bottom: 0px;
  }

  ul.notifications {
    background-color: #EEF0F0;
    height: 1000px;
    list-style-type: none;
    padding-left: 0px;

    .preview-message {
      padding: 10px 20px;

      .message {
        color: #aaa;
        font-size: 16px;
      }
    }

    li {
      padding: 15px;
      border-bottom: solid 1px #C9C9C9;

      &.sticky {
        background-color: #F3F0B6;
      }

      .title {
        margin-bottom: 3px;
        padding-left: 22px;
        
        i {
          color: #76AA49;
          margin-left: -25px;
          padding-right: 10px;
        }

        span {
          font-size: 16px;
        }
      }

      .message {
        padding-left: 22px;
      }
    }
  }

  .calls-to-action > .col-md-3:first-of-type {
    margin-left: 12.5%;
  }

  .option {
    font-size: 13px !important;
    font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFF;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: 1px solid rgb(241, 241, 241) !important;
    padding: 20px;
    text-align: center !important;
    margin-bottom: 20px;
    color: #555 !important;
    font-weight: normal !important;
    text-decoration: none;
    display: block;
    line-height: 16px;
    min-height: 230px;

    img {
      text-align: center !important;
      margin-bottom: 10px;
    }

    strong {
      color: #0098aa;
      font-weight: normal;
    }

    hr {
      border: 1px solid #EEE !important;
    }

  }

  .instance-history {

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    li {
      position: relative;
      margin-bottom: 18px;
    }

    img {
      margin-right: 20px;
      border-radius: 3px;
    }

    .instance-history-details {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      line-height: 21px;

      .name {
        font-size: 15px;
      }
    }

    .launch-info {
      float: right;
    }
  }
}
