#dashboard-view {

  .row {
    overflow: hidden;
  }

  h2 {
    font-size: 28px;
    border-bottom: 1px solid #dddddd;
    padding-bottom:10px;
  }

  .secondary-nav {
    margin-bottom: 0px;
  }

  ul.notifications {
    background-color: #EEF0F0;
    list-style-type: none;
    padding-left: 0px;

    // to make the column fill up the space of the row
    // http://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height
    margin-bottom: -99999px;
    padding-bottom: 99999px;

    .preview-message {
      padding: 10px 20px;

      .message {
        color: #aaa;
        font-size: 16px;
      }
    }

    li {

      &:first-of-type > .message {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      .title {
        margin-bottom: 3px;
        padding-left: 22px;

        i {
          color: #76AA49;
          margin-left: -25px;
          padding-right: 10px;
        }

        span {
          font-size: 16px;
        }
      }

      .message.activity-message {
        overflow:hidden;
        background-color: #fff;
        border-bottom: 1px solid rgba(0,0,0,0.10);
        border-left: 1px solid rgba(0,0,0,0.10);
        border-right: 1px solid rgba(0,0,0,0.10);
        margin: 0 0 0px 0px;
        padding: 10px;
        position: relative;

        i {
          font-size: 24px;
          position: absolute;
          top: 14px;
          left: 12px;
          color: #777;
        }

        .details {
          margin-left: 32px;
        }

        &.sticky {
          background-color: #F3F0B6;
        }
      }

      .message {
        padding-left: 22px;
      }

      .date {
        padding-left: 22px;
        padding-bottom: 7px;
      }
    }
  }

  .calls-to-action > .col-md-3:first-of-type {
    margin-left: 12.5%;

    @media (max-width: 991px) {
      margin-left: inherit;
    }
  }

  .option {
    font-size: 13px !important;
    font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFF;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: 1px solid rgb(241, 241, 241) !important;
    padding: 20px;
    text-align: center !important;
    margin-bottom: 20px;
    color: #555 !important;
    font-weight: normal !important;
    text-decoration: none;
    display: block;
    line-height: 16px;
    min-height: 230px;

    img {
      text-align: center !important;
      margin-bottom: 10px;
    }

    strong {
      color: #0098aa;
      font-weight: normal;
    }

    hr {
      border: 1px solid #EEE !important;
    }

  }

  .resource-header{
    font-size: 28px;
    font-weight: 500;
    border-bottom: 1px solid #dddddd;
    a{
      font-size: inherit;
      font-style: italic;
      margin-left: 3%;
    }
  }

  .instance-history {

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    li {
      position: relative;
      margin-bottom: 18px;
    }

    img {
      margin-right: 20px;
      border-radius: 3px;
    }

    .instance-history-details {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      line-height: 21px;

      .name {
        font-size: 15px;
      }
    }

    .launch-info {
      float: right;
    }
  }

  .community-activity {
    h3 {
      margin-bottom: 6px;
      margin-top: 24px;
    }
  }
}
