.footer {
  z-index: 1;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eeeeee;
  border-top: 1px solid #dddddd;
  text-align: center;

  button {
    margin-left: 20px;
  }
}
