body {
  background-color: #F9F9F9;
}

a {
  color: $link-color;
  border-bottom: 1px solid transparent;

  &:hover {
    cursor:pointer;
    text-decoration: none;
  }
}

.btn {
  border-radius: 1px;
}

.btn-primary {
  border-radius : 1px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .2);
  transition: background-color 500ms cubic;
}

a[target="_blank"]::after {
  content: '\e164';
  font-family: 'Glyphicons Halflings';
  margin-left: 4px;
  font-size: .8em;
  position: relative;
  top: 1px;
}

.invisible {
  visibility: hidden;
}

.progress {
  margin-bottom: 0;
  height: 5px;
}

.tooltip-inner {
  white-space: pre-wrap;
}

.callout-info {
    padding:20px;
    margin-bottom:20px;
    border:1px solid lightgrey;
    border-left-width:5px;
    border-left-color:#1b809e;
    border-radius:3px;
}
