@media (max-width: 991px) {
  .nav > li > a {
    padding-left: 11px;
    padding-right: 11px;
  }
}

.navbar-nav li a i {
  margin-right: 7px;
}

// hack to get bootstrap nav styling to work when the "active" class is
// on the 'a' tag and not its parent 'li' tag
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:hover,
.navbar-default .navbar-nav > li > a.active:focus {
  color: $navbar-default-link-active-color;
  background-color: $navbar-default-link-active-bg;
}
.container > .navbar-header {
  @media (min-width:768px) and (max-width:1200px) {
    width:100%;
  }
}
.navbar-default {
    background-color: $navbar-default-bg;
    border-bottom: solid 5px $navbar-default-border;
    .container {
        position: relative;
    }
    .navbar-nav > li > a {
        color: $navbar-default-link-color;
    }

    .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: $navbar-default-link-hover-color;
        background-color:$navbar-default-bg;
    }

    .navbar-nav > li > a.active, .navbar-nav > li > a.active:hover, .navbar-nav > li > a.active:focus {
        color: $navbar-default-link-hover-color;
        background-color:$navbar-default-link-active-bg;

    }

    .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
        color: $navbar-default-link-hover-color;
        background-color: darken($navbar-default-bg, 10%);
    }
    .navbar-brand {
        position: relative;
        width: 200px;
        height: 50px;
        background-size: 60%;
        margin:0 20px 0 0;
        padding-left: 50px;
        font-weight: 300;
        font-size: 16px;
        &:hover, &:focus {
            color: $navbar-default-brand-color;
            background-color: transparent;
        }
    }
    // Mobile Toggle Menu
    .navbar-toggle {
        border-color:darken($navbar-default-bg, 6%);
        &:hover, &:active, &:focus {
            background:darken($navbar-default-bg, 10%);
        }
        .icon-bar {
            background-color:darken($navbar-default-bg, 20%);
        }
    }
    .beta-toggle {
        display: none;
    }
}
.secondary-nav > .container > ul > li a.active {
    border-color: $secondary-nav-border;
}

