.button-toggle {
  padding-top: 16px;
  padding-bottom: 9px;

  .toggle-wrapper {
    cursor: pointer;
    position: relative;
    padding-top: 1px;
  }

  .toggle-background {
    background-color: rgba(235,101,56, 0.90);
    width: 103px;
    height: 20px;
    border-radius: 14px;
    font-size: 13px;
  }

  .toggle-text {
    color: #FCEEEB;
    font-family: Helvetica;
    font-weight: 100;
    margin-left: 5px;
  }

  .toggle-switch {
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: #E4E4E4;
    border-radius: 12px;
    top: -1px;
  }

  .toggle-switch ~ .toggle-background {
    background-color: #EEEEEE;
    .toggle-text {
      color: #000000;
      margin-left: 24px;
    }
  }
  .toggle-background + .toggle-switch {
    right: 0px;
  }
}

.beta-toggle {
  position: relative;
  display: inline-block;
  float: right;
  padding-top: 16px;
  padding-bottom: 9px;
  @media (max-width: 991px) {
    position: absolute;
    top: 0;
    right: 0;
  }
  .toggle-wrapper {
    position: relative;
    padding-top: 1px;
  }

  .toggle-background {
    background-color: rgba(0, 0, 0, 0.3);
    width: 103px;
    height: 20px;
    border-radius: 14px;
    font-size: 13px;
  }

  .toggle-text {
    padding-top: 1px;
    margin-left: 7px;
    color: #c3e9f3;
    font-family: Helvetica;
    font-weight: 100;
  }

  .toggle-switch {
    width: 21px;
    height: 21px;
    position: absolute;
    background-color: #1490d5;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    border-radius: 12px;
    top: 0px;
    right: 0px;
  }
}

@media (max-width: 991px) {
  .navbar-nav > li > a.beta-toggle {
    display: none;
  }

  .nav > li > a {
    padding-left: 11px;
    padding-right: 11px;
  }
}

.navbar-nav li a i {
  margin-right: 7px;
}

// hack to get bootstrap nav styling to work when the "active" class is
// on the 'a' tag and not its parent 'li' tag
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:hover,
.navbar-default .navbar-nav > li > a.active:focus {
//  color: $navbar-default-link-active-color;
//  background-color: $navbar-default-link-active-bg;
}
.container > .navbar-header {
  @media (min-width:768px) and (max-width:1200px) {
    width:100%;
  }
}
.navbar-default {
  .container {
    position: relative;
  }
}
