.navbar-brand {
  background: url('/assets/images/mini_logo.png') no-repeat 10px center;
  padding-left: 50px;
  font-weight: 300;
  font-size: 16px;

  // Add BETA label after the brand name
  &::after {
    content: "BETA";
    background-color: hsl(182, 46%, 51%);
    padding: 6px;
    border-radius: 3px;
    font-size: 80%;
    margin-left: 8px;
    letter-spacing: .1em;
  }
}

.navbar-nav > li > a.beta-toggle {
  padding-top: 16px;
  padding-bottom: 9px;

  .toggle-wrapper {
    position: relative;
    padding-top: 1px;
  }

  .toggle-background {
    background-color: #EB6538;
    width: 103px;
    height: 20px;
    border-radius: 14px;
    font-size: 13px;
  }

  .toggle-text {
    margin-left: 7px;
    color: #FCEEEB;
    font-family: Helvetica;
    font-weight: 100;
  }

  .toggle-switch {
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: #E4E4E4;
    border-radius: 12px;
    top: -1px;
    right: 0px;
  }
}

@media (max-width: 991px) {
  .navbar-nav > li > a.beta-toggle {
    display: none;
  }

  .nav > li > a {
    padding-left: 11px;
    padding-right: 11px;
  }
}

.navbar-nav li a i {
  margin-right: 7px;
}