//
// The little light before status description
// todo: make this inherit from a resource version so we can reuse for volumes
//

// Styling for instance metrics component
@import "instance_metrics";

.instance-status-light {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  background: gray;

  &.active {
    background: green;
  }

  &.transition {
    background: #F9CB49;
  }

  &.inactive {
    background: crimson;
  }

  &.error {
    background: crimson;
  }
}

.report-instance-view {
  margin-top: 20px;
}

.image-request-summary .form-group {
  margin-bottom: 0px;
}

.instance-status-history{
    ul{
        li{
            margin-bottom: 4%;
        }
        height: 100%;
        overflow: scroll;
    }

    height: 100%;
    width: 50%;
    position: fixed;
    left: 50%;
}

.instance-history-detail{
    padding-top: 2.5%;

    .instance-history-info{
        width: 50%;
    }
}
