//
// The little light before status description
// todo: make this inherit from a resource version so we can reuse for volumes
//

.instance-status-light {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;

  &.active {
    background: green;
  }

  &.suspended {
    background: grey;
  }

  &.stopped {
    background: crimson;
  }
}
