//
// The little light before status description
// todo: make this inherit from a resource version so we can reuse for volumes
//

.instance-status-light {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  background: gray;

  &.active {
    background: green;
  }

  &.transition {
    background: #F9CB49;
  }

  &.inactive {
    background: crimson;
  }
}

.report-instance-view {
  margin-top: 20px;
}

.image-request-summary .form-group {
  margin-bottom: 0px;
}
