#main {
  padding-top: 52px;
  padding-bottom: 30px;
}

footer {
  text-align: center;
  margin: 1.5em 0;
  font-size: .8em;

  a {
    color: #999;
  }
}

/* Extra small devices (phones, 767px and below) */
@media (max-width: 767px) {
  #sidebar {
    margin-top: 51px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  #sidebar {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    width: 200px;

    > ul {
      position: absolute;
      top: 0;
      bottom: 45px;
      left: 0;
      right: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  #notifications {
    z-index: 20;
    position: fixed;
    left: 0;
    right: 0;
    top: 16px;
    margin: 0 50px 0 250px;
  }

  footer {
    width: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


// Secondary Navigation
.secondary-nav {
  background: white;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 35px;

  li {
    list-style: none;
    float: left;
    margin-right: 60px;

    a {
      border-bottom: 3px solid transparent;
      border-color: #6AA54F;
      text-transform: uppercase;
      padding: 18px 4px 18px 30px;
      display: block;
    }
  }
}

.sub-menu {
  li {
    list-style: none;
  }

  a {
    padding-left: 10px;
    border-left: 2px solid #6AA54F;

    &.active {
      font-weight: 600;
    }
  }
}