//Makes a media object that gives us flexable a reusable structure
//for list content with or without an image anchor.

// Read about this pattern here: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

//TODO Add a footer element and modifier that counters the card padding for button groups like on our project cards  The goal is to have one reusable structure for all of our instances of this class of component.

.media {
    overflow:hidden;
    _overflow:visible;
    zoom:1;

    .media--disabled {
        opacity:.4;
        cursor: no-drop !important;
    }

    //wraps around all of the content next to the optional image anchor
    .media__content {
        overflow: hidden;
        _overflow:visible;
        zoom:1;
        .title, .subheading, .body-2 {
            margin:0;
        }
    }

    // Wraps around the description text within the content wrapper, typically on a p tag 
    .media__description {
        max-width:700px;
        color:$grey--dark;
    }

    // Wraps around the img tag to create the optional image anchor
    .media__img {
        float:left; 
        margin-right:20px;
        img {
            display: block;
        }
    }
}


// The card class is used on the same wrapper as the media class
// it can be reused without the media class.
.card {
    border-radius: 3px;
    padding:20px;
    box-shadow: $shadow-1;
    background: white;

    .media__footer {
        margin: 0 -20px -20px;
    }
}
