#project-list {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);

    display: inline-block;
    position: relative;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;

    > a > div {
      padding: 15px;
      height: 250px;
      width: 225px;

      h2 {
        font-size: 19px;
        margin: 0;
        color: #231F20;
      }

      time {
        color: #6D6E71;
      }
    }
  }
}

// Project Resource Modal
#project-resource-modal {
  hr {
    margin-top: 10px;
  }

  .horizontal-list {
    text-align: center;
    margin: 0;
    padding: 10px 0px 0px 0px;

    .clickable-region {
      width: 80px;
      margin: auto;
      cursor: pointer;

      label {
        cursor: pointer;
      }
    }

    li {
      display: inline-block;
      width: 33%;

      &.active {
        color: #77AB41;
      }

      .icon-container {
        //height: 40px;

        i {
          //-webkit-transform: scale(4);
          font-size: 50px;
        }
      }

      label {
        font-size: 15px;
      }
    }
  }
}

.project-info-segment {
  margin-top: 22px;

  h4 {
    color: #5A5A5A;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    width: 175px;
    text-align: right;
    margin-right: 25px;
    //vertical-align: top;
    margin-top: 0;
  }

  p {
    font-size: 16px;
    display: inline-block;
  }
}

ul.project-resource-list {
  position: absolute;
  bottom: 0px;
  font-size: 18px;
  color: #231F20;
  list-style-type: none;
  padding: 0;

  width: 100%;
  border-top: 1px solid #ccc;
  margin-left: -15px;

  li {
    display: inline-block;
    margin-left: 29px;

    i {
      margin-right: 7px;
    }
    span {
      font-size: 23px;
    }
  }
}

.project-property {
  display: inline-block;

  input {
    border: 0;
    padding: 0;
    border-bottom: 1px dashed #CCC;
    font-size: 16px;
    margin-bottom: 9px;
    outline: 0;
    background-color: transparent;
    width: 600px;
  }

  p {
    max-width: 600px;
  }

  &.editable {
    i {
      font-size: 14px;
      color: #999;
      margin-left: 9px;
      display: none;
    }

    &:hover i {
      display: inline-block;
    }

    textarea {
      max-width: 950px;
      //min-height: 150px;
      height: 150px;
      width: 600px;
      font-size: 16px;
    }
  }
  
  .html-wrapper {
    display: inline-block;
    p {
      display: block;
    }
  }
}