//
// Resource Info Section
//

.resource-info {
  margin-left: 143px;

  .resource-name {
    margin-top: 0px;
  }

  .resource-launch-date {
    margin-bottom: 5px;
  }
}

.resource-tags {
  > span {
    padding-right: 5px;
  }

  .tags {
    margin-top: 8px;
  }

  .new-tag {
    padding: 3px 6px;
    margin-left: 5px;
  }

  .tagger {
    margin-top: 5px;
  }
}

.resource-image {
  float: left;
}

//
// Resource Details Section
//

.resource-details-content {
  .section {
    padding: 23px 0px;

    .title {
      margin-top: 0;
    }
  }

  hr {
    margin: 0;
  }
}

.resource-details-section {
  ul {
    list-style-type: none;
    padding-left: 27px;
    margin: 0;

    li {
      line-height: 30px;

      > span:first-of-type {
        width: 90px;
        margin-right: 20px;
        display: inline-block;
        text-align: right;
        color: #5A5A5A;
        vertical-align: top;
      }

      .resource-status {
        display: inline-block;
      }
    }
  }
}

//
// Resource Actions & Links Bar
//

.resource-actions {
  ul {
    list-style: none;
    padding-left: 0;
  }

  .section-label {
    font-weight: 600;
    font-size: 17px;
  }

  li {
    border: solid #E8E8E8 1px;
    border-top: solid #E8E8E8 0px;
    padding: 14px;

    &.link {
      padding: 0px;

      a {
        padding: 14px;
        display: block;
      }
    }

    &.danger {
      color: white;
      background : -moz-linear-gradient(50% 0% -90deg,rgba(244, 125, 92, 1) 0%,rgba(244, 125, 92, 1) 0.08%,rgba(242, 99, 75, 1) 23.78%,rgba(240, 80, 63, 1) 48%,rgba(239, 69, 56, 1) 73.05%,rgba(239, 65, 54, 1) 100%);
      background : -webkit-linear-gradient(-90deg, rgba(244, 125, 92, 1) 0%, rgba(244, 125, 92, 1) 0.08%, rgba(242, 99, 75, 1) 23.78%, rgba(240, 80, 63, 1) 48%, rgba(239, 69, 56, 1) 73.05%, rgba(239, 65, 54, 1) 100%);
      background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(244, 125, 92, 1) ),color-stop(0.0008,rgba(244, 125, 92, 1) ),color-stop(0.2378,rgba(242, 99, 75, 1) ),color-stop(0.48,rgba(240, 80, 63, 1) ),color-stop(0.7305,rgba(239, 69, 56, 1) ),color-stop(1,rgba(239, 65, 54, 1) ));
      background : -o-linear-gradient(-90deg, rgba(244, 125, 92, 1) 0%, rgba(244, 125, 92, 1) 0.08%, rgba(242, 99, 75, 1) 23.78%, rgba(240, 80, 63, 1) 48%, rgba(239, 69, 56, 1) 73.05%, rgba(239, 65, 54, 1) 100%);
      background : -ms-linear-gradient(-90deg, rgba(244, 125, 92, 1) 0%, rgba(244, 125, 92, 1) 0.08%, rgba(242, 99, 75, 1) 23.78%, rgba(240, 80, 63, 1) 48%, rgba(239, 69, 56, 1) 73.05%, rgba(239, 65, 54, 1) 100%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F47D5C', endColorstr='#EF4136' ,GradientType=0)";
      background : linear-gradient(180deg, rgba(244, 125, 92, 1) 0%, rgba(244, 125, 92, 1) 0.08%, rgba(242, 99, 75, 1) 23.78%, rgba(240, 80, 63, 1) 48%, rgba(239, 69, 56, 1) 73.05%, rgba(239, 65, 54, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F47D5C',endColorstr='#EF4136' , GradientType=0);
    }
  }

  .section-link {

    &[disabled]{
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.65;
    }

    span {
      margin-left: 10px;
    }

    &:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }
  }

  li:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  a {
    color: rgb(51, 51, 51);

    &:hover {
      color: rgb(51, 51, 51);
      border-bottom: none;
    }
  }
}

.side-panel {
  .resource-status {
    display: inline-block;
  }
}