.provider {
  margin-bottom: 40px;

  h2 {
    font-size: 28px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 3px;
  }

  p {
    line-height: 25px;
    font-size: 14px;
    color: #666;
  }
}

.allocation-summary {
  .progress {
    margin-bottom: 10px;
    height: 28px;
  }
}