.provider {
  margin-bottom: 40px;

  h2 {
    font-size: 28px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 3px;
  }

  p {
    line-height: 25px;
    font-size: 14px;
    color: #666;
  }
}

.allocation-summary {
  .progress {
    margin-bottom: 10px;
    height: 28px;
  }
}

.provider-stat {
  font-size: 16px;
  border-left: 1px solid #e5e5e5;
  text-align: center;
  height: 80px;

  &:first-of-type {
    border-left: 1px solid transparent;
  }

  .stat {
    font-size: 30px;
  }

  .sub-text {
    margin-left: 5px;
  }

  .more-info {
    color: #888;
    font-size: 14px;
  }
}

.provider-details {
  h4 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 22px;
  }

  .provider-info-section {
    margin-bottom: 12px;

    table {
      margin-left: 2%;
      max-width: 700px;
    }
  }
}

.provider-list {
  margin-top: 20px;

  li a {
    color: #aaa;
    cursor: pointer;

    &.active {
      border-left: 3px solid $link-color;
      color: $link-color;
    }
  }
}

