textarea, select{
	width: 95%;
}

.quota-table{
	float: left;
	width: 50%;
}

.quota-detail{
	width: 48%;
	float: right;
	position: relative;
	border: 5px solid #007b89;
}

.quota-detail button{
	margin: 2%;
}

.quota-detail div{
	margin: 2%;
}

.quota-row, .quota-inline{
	width: 100%;
}

.center{
	text-align: center;
}