.quota-table{
	width: 50%;
}

.quota-detail{
	width: 46%;
	float: right;
	position: relative;
	margin: 2%;
}

.quota-detail div{
	width: 25%;
	margin: 2%;
	display: inline-block;
}

.quota-row, .quota-inline{
	width: 100%;
}

.quota-inline table{
	float: left;
}

.quota-description{
	width: 100% !important;
}