#icon-set-select {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-align: center;
    display: inline-block;
    margin-right: 10px;

    &.selected a {
      background-color: hsl(186, 100%, 33%);
      color: #fff;
    }

    a {
      display: block;
      padding: 20px;
      border-radius: 5px;

      &:hover {
        background-color: hsl(0, 0%, 90%);
      }
    }
  }
}
