.splash-image {
    max-width:900px;
    display:none;
}

.splash-image img {
    width:100%
}

.splash-screen {
  text-align:center;
  .splash-image {
    display: block;
    margin:auto;
    padding-top:50px;
  }

  .loading {
    border-left: 6px solid rgba(0, 0, 0, 0.15);
    border-right: 6px solid rgba(0, 0, 0, 0.15);
    border-bottom: 6px solid rgba(0, 0, 0, 0.15);
    border-top: 6px solid rgba(0, 0, 0, 0.8);
  }
}
