.u-insetShadow {
    box-shadow: $shadow-1--inset;
    background: $grey--xxlight;
}

.u-wordBreak {
    word-break: break-all;
}

.u-md-pull-right {
    float: right !important;
    @media(max-width: 992px) {
        float: none !important;
    }
}
