// Grey color values

$grey--xxdark: #52595E;
$grey--xdark: #58646E;
$grey--dark: #8C9296;
$grey--darkmid: #D1D5D9;
$grey--mid: #C9CED5;
$grey--lightmid: #D8DDE2;
$grey--light: #E5E7EA;
$grey--xlight: #EFF1F2;
$grey--xxlight: #F7F8F8;

//Shadow Effects

$shadow-1: 0 1px 5px rgba(43,59,93,.29);
$shadow-1--inset: inset 0px 0px 6px 0px rgba(0,0,0,0.37);
