{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {
        
        // See docs here: http://eslint.org/docs/rules/
        "linebreak-style": [
            "error",
            "unix"
        ],
        "no-mixed-spaces-and-tabs": "error",
        "comma-dangle": "off",

        // See docs here: https://github.com/yannickcr/eslint-plugin-react/tree/master/docs/rules
        "react/no-is-mounted": "off",
        "react/display-name": "off",
        "react/no-danger": "off",
        "react/no-did-mount-set-state": "off",
        "react/no-direct-mutation-state": "off",
        "react/prop-types": "off",
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "jsx": true,
    },
    "plugins": [
        "react"
    ]
}
