{
    "rules": {
        "linebreak-style": [
            2,
            "unix"
        ],
/*
        "semi": [
            2,
            "always"
        ],
 */
        "no-debugger": 2,
        "no-mixed-spaces-and-tabs": 2,
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "jsx": true,
    },
    "plugins": [
        "react"
    ]
}
