---
  sudo: required
  dist: trusty
  language: node_js
  node_js:
    - "4.6"

  python:
    - "2.7"

  services:
    - postgresql

  addons:
    postgresql: "9.6"

  install:
    - pip install -U pip
    - pip install pip-tools # Necessary for ./travis/check_properly_generated_requirements.sh
    - pip install -r dev_requirements.txt
    - npm install

  before_script:
    - sudo pg_dropcluster --stop 9.2 main
    - sudo pg_dropcluster --stop 9.3 main
    - sudo pg_dropcluster --stop 9.4 main
    - sudo pg_dropcluster --stop 9.5 main
    - export DJANGO_SETTINGS_MODULE=troposphere.settings
    - psql -c "CREATE USER troposphere_db_user WITH PASSWORD 'troposphere_db_pass' CREATEDB;" -U postgres
    - psql -c "CREATE DATABASE troposphere_db WITH OWNER troposphere_db_user;" -U postgres
    - cp ./variables.ini.dist ./variables.ini
    - ./configure
    - export DJANGO_SETTINGS_MODULE=troposphere.settings

  script:
    - ./travis/check_properly_generated_requirements.sh
    - ./manage.py  makemigrations --check
    - npm run build
    - npm run travis-lint
