git+git://github.com/iPlantCollaborativeOpenSource/caslib.py.git#egg=caslib
git+https://github.com/iPlantCollaborativeOpenSource/jwt.py.git#egg=jwt.py
requests==2.2.1
django==1.6.2
django-pipeline==1.3.23
django-jenkins==0.15.0
python-ldap==2.4.15
