# External/Third Party
pycparser
django
django-sslserver

djangorestframework
markdown

django-webpack-loader
itsdangerous
Jinja2
pycrypto
PyJWT
python-dateutil
psycopg2
requests[security]
uWSGI

# Application Insights
raven
newrelic

# Ours
# This is required for the hotfix in django-cyverse-auth@62bd280129890025467513d1ed41a86fbc588dd3
-e git+https://github.com/cyverse/django-cyverse-auth.git#egg=django-cyverse-auth
