# External/Third Party
pycparser
django
django-sslserver

djangorestframework>=3.9.1
markdown

django-webpack-loader
itsdangerous
Jinja2>=2.10.1
pycrypto
PyJWT
python-dateutil
psycopg2==2.7.3.1
requests[security]
uWSGI

# Application Insights
raven
newrelic

# Ours
django-cyverse-auth
