[COMMON]
SERVER_URL =
ASSETS_PATH =
THEME_PATH =
THEME_NAME =

[theme]
USE_THEME_IMAGES = False
PRIMARY_ONE_COLOR = "#ed174b"
PRIMARY_TWO_COLOR = "#46afc8"
ACCENT_ONE_COLOR = "#46afc8"
PICKER_HEADER_COLOR = "#46afc8"
DANGER_COLOR = "amber"
SUCCESS_COLOR = "green"
HEADER_COLOR = "white"
HEADER_BORDER_COLOR = "red"
HEADER_LINK_COLOR = "blue"
LINK_COLOR = "#46afc8"

[local.py]
ADDITIONAL_ALLOWED_HOSTNAMES = [] # Additional HOST header values that django will permit in requests
DEBUG = False
ADMINS_EMAIL_TUPLE=[] # [('Atmosphere Admin', 'atmo-admin@website.com'),('System Admins', 'sys-admin@website.com')]
SERVER_EMAIL =
THEME_NAME =
SITE_TITLE =
SITE_FOOTER =
ORG_NAME =
SUPPORT_EMAIL =
MAINTENANCE_EXEMPT_USERNAMES = [] # ['test1','test2'] -- a list of usernames that will be exempt from Maintenance
API_SERVER =
BASE_URL =
ENABLE_WEBPACK_LOADER_CACHE = False # if local, set False otherwise True
DISABLE_PUBLIC_AUTH = True
ENABLE_PROJECT_SHARING = True ;
AUTH_USE_OVERRIDE =
AUTH_ENABLE_MOCK =
AUTH_ENABLE_MODEL =
AUTH_ENABLE_GLOBUS =
AUTH_ENABLE_OAUTH =
AUTH_ENABLE_CAS =
AUTH_ENABLE_LDAP =
AUTH_ENABLE_OPENSTACK =
KEYSTONE_TOKEN_LOGIN = # True to use Keystone tokens instead of passwords.
KEYSTONE_SERVER = # "https://my-openstack.cloud.org:5000"
KEYSTONE_DOMAIN_NAME = # "default"
MOCK_USER =
USE_MOCK_DATA = False # True to use fake api when possible
USE_ALLOCATION_SOURCES = True # True for jetstream
DATABASE_NAME = troposphere_db
DATABASE_ENGINE = django.db.backends.postgresql
DATABASE_USER = troposphere_db_user
DATABASE_CONN_MAX_AGE = 60 # in seconds
DATABASE_PASSWORD = troposphere_db_pass
DATABASE_HOST = localhost
LDAP_SERVER =
WEB_SH_ROUTE =
LDAP_SERVER_DN =
USE_LOGIN_SELECTION = False
DATABASE_PORT = 5432
EXTERNAL_ALLOCATION = False # True if a site has an external process for managing allocation
                            # True for Jetstream, False for CyVerse
ALLOCATION_UNIT_ABBREV = "AU" # "SU" for Jetstream
ALLOCATION_UNIT_NAME = "allocation unit" # "service unit" for Jetstream
DJANGO_JENKINS =
SSLSERVER =
SESSION_COOKIE_AGE =
CAS_SERVER =
TOKEN_EXPIRY_TIME_DAYS = 0
LOGOUT_REDIRECT_URL = /logout
CAS_SERVER=
CAS_AUTH_PREFIX=
OAUTH_CLIENT_KEY=
OAUTH_CLIENT_SECRET=
OAUTH_CLIENT_CALLBACK=
OAUTH_ISSUER_USER=
GLOBUS_OAUTH_ID =
GLOBUS_OAUTH_SECRET =
GLOBUS_OAUTH_CREDENTIALS_SCOPE =
GLOBUS_OAUTH_ATMOSPHERE_SCOPE =
GLOBUS_TOKENINFO_URL =
GLOBUS_TOKEN_URL =
GLOBUS_AUTH_URL =
CAS_AUTH_PREFIX =
OAUTH_CLIENT_KEY =
OAUTH_CLIENT_SECRET =
OAUTH_CLIENT_CALLBACK =
INTERCOM_APP_ID =
INTERCOM_COMPANY_ID =
INTERCOM_COMPANY_NAME =
INTERCOM_REPORT_INSTANCES =
INTERCOM_REPORT_VOLUMES =
SENTRY_ENABLED = False
SENTRY_DSN = "" # "...@sentry.io/..."
COLLECT_ANALYTICS = False
BADGE_SECRET =
BADGE_HOST =
BADGE_API_HOST =
BADGES_ENABLED =
BADGE_SYSTEM_NAME =
BADGE_SYSTEM_SLUG =
SHOW_INSTANCE_METRICS = False
USE_GATE_ONE_API =
GATE_ONE_API_KEY =
GATE_ONE_API_SECRET =
WEB_SH_BASE_URL =
WEB_SH_JS_FILE =
# NoVNC related variables
# - feature flag: WEB_DESKTOP
WEB_DESKTOP_ENABLED = False
# - feature flag: GUACAMOLE_ENABLED
GUACAMOLE_ENABLED = True
