[COMMON]
SERVER_URL =
ASSETS_PATH =
THEME_PATH =

[nginx]
BUNDLE_FILE =
TROPOSPHERE_PATH =
LOCATIONS_DIR =
SITES_AVAILABLE_DIR =
SITES_ENABLED_DIR =
CERT_DIR =
CERT_FILE =
COMBINED_CERT_FILE =
COMBINED_CERT_PATH =
KEY_FILE =
KEY_PATH =
KEY_SIZE =
DHPARAM =
VIRTUALENV_PATH =

[uwsgi.ini]
LOCAL_DEV =
PATH_TO_TROPOSPHERE =
VIRTUALENV_PATH =
UWSGI_USER =
UWSGI_GROUP =
UWSGI_LOG_PATH =

[local.py]
DEBUG =
SECRET_KEY =
THEME_NAME =
SITE_TITLE =
SITE_FOOTER =
ORG_NAME =
SUPPORT_EMAIL =
API_SERVER =
BASE_URL =
MOCK_USER =
USE_MOCK_AUTH =
DATABASE_NAME =
DATABASE_ENGINE =
DATABASE_USER =
DATABASE_CONN_MAX_AGE =
DATABASE_PASSWORD =
DATABASE_HOST =
DATABASE_PORT =
DJANGO_JENKINS =
SSLSERVER =
SESSION_COOKIE_AGE =
CAS_SERVER =
TOKEN_EXPIRY_TIME_DAYS =
LOGOUT_REDIRECT_URL = /logout
CAS_SERVER=
CAS_AUTH_PREFIX=
OAUTH_CLIENT_KEY=
OAUTH_CLIENT_SECRET=
OAUTH_CLIENT_CALLBACK=
OAUTH_ISSUER_USER=
GLOBUS_OAUTH_ID =
GLOBUS_OAUTH_SECRET =
GLOBUS_OAUTH_CREDENTIALS_SCOPE =
GLOBUS_OAUTH_ATMOSPHERE_SCOPE =
GLOBUS_TOKENINFO_URL =
GLOBUS_TOKEN_URL =
GLOBUS_AUTH_URL =
CAS_AUTH_PREFIX =
OAUTH_CLIENT_KEY =
OAUTH_CLIENT_SECRET =
OAUTH_CLIENT_CALLBACK =
INTERCOM_APP_ID =
INTERCOM_COMPANY_ID =
INTERCOM_COMPANY_NAME =
BADGE_SECRET =
BADGE_HOST =
BADGE_API_HOST =
BADGES_ENABLED =
BADGE_SYSTEM_NAME =
BADGE_SYSTEM_SLUG =
SHOW_INSTANCE_METRICS =
USE_GATE_ONE_API =
GATE_ONE_API_KEY =
GATE_ONE_API_SECRET =
WEB_SH_BASE_URL =
WEB_SH_JS_FILE =
