[apache]
MYSHORTNAME =
MYHOSTNAMEHERE =
PATH_TO_TROPOSPHERE =
BASECERTHERE =
KEYHERE =
BUNDLECERTHERE =

[nginx]
BUNDLE_FILE =
TROPOSPHERE_PATH =
LOCATIONS_DIR =
SITES_AVAILABLE_DIR =
SITES_ENABLED_DIR =
CERT_DIR =
CERT_FILE =
COMBINED_CERT_FILE =
COMBINED_CERT_PATH =
KEY_FILE =
KEY_PATH =
KEY_SIZE =
DHPARAM =
VIRTUALENV_PATH =

[local.py]
DEBUG =
SECRET_KEY =
THEME_NAME =
SITE_TITLE =
SITE_FOOTER =
SERVER_URL =
API_SERVER =
BASE_URL =
DATABASE_NAME =
DATABASE_ENGINE =
DATABASE_USER =
DATABASE_CONN_MAX_AGE =
DATABASE_PASSWORD =
DATABASE_HOST =
DATABASE_PORT =
DJANGO_JENKINS =
SSLSERVER =
CAS_SERVER =
TOKEN_EXPIRY_TIME_DAYS =
LOGOUT_REDIRECT_URL = /logout
CAS_SERVER=
CAS_AUTH_PREFIX=
OAUTH_CLIENT_KEY=
OAUTH_CLIENT_SECRET=
OAUTH_CLIENT_CALLBACK=
OAUTH_ISSUER_USER=
GLOBUS_OAUTH_ID =
GLOBUS_OAUTH_SECRET =
GLOBUS_OAUTH_CREDENTIALS_SCOPE =
GLOBUS_OAUTH_AUTHENTICATION_SCOPE =
GLOBUS_TOKENINFO_URL =
GLOBUS_TOKEN_URL =
GLOBUS_AUTH_URL =
CAS_AUTH_PREFIX =
OAUTH_CLIENT_KEY =
OAUTH_CLIENT_SECRET =
OAUTH_CLIENT_CALLBACK =
BADGE_SECRET =
BADGE_HOST =
BADGE_API_HOST =
BADGES_ENABLED =
BADGE_SYSTEM_NAME =
BADGE_SYSTEM_SLUG =
SHOW_INSTANCE_METRICS =
ASSETS_PATH =
