.app-card-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app-card-list li {
    margin: 0 20px 20px 0;
    display: inline-block;
}

/* All app cars  */
.app-card {
    width: 220px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.app-card .icon-container {
    text-align: center;
    margin-bottom: 15px;
}

.app-card .app-name  a {
    display: block;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* App cards on image lists */
.app-card-list .app-card {
    border: 1px solid #ccc;
}

.app-card-list .app-card .launch-button {
    display: none; 
}

/* App cards on image detail page */
#app-detail .app-card {
    background-color: hsl(0, 0%, 90%);
}

#app-detail .app-card .app-name, #app-detail .app-card .star-rating {
    display: none;
}

.star-rating {
    font-size: 28px;
    color: hsl(45, 85%, 50%);
    letter-spacing: 5px;
}

/* Bookmarks */
.bookmark {
    width: 0px;
    height: 35px;
    position: absolute;
    top: -5px;
    right: 7px;
    z-index: 1;
    border-radius: 4px;
    box-sizing: content-box;
}

.bookmark.off {
    border-right: 15px solid hsl(0, 0%, 40%);
    border-left: 15px solid hsl(0, 0%, 40%);
    border-bottom: 10px solid transparent;
}

.bookmark.off:hover {
    border-right-color: hsl(0, 0%, 30%);
    border-left-color: hsl(0, 0%, 30%);
}

.bookmark.off::after {
    content: "";
    height: 39px;
    position: absolute;
    top: 2px;
    left: -13px;
    border-radius: 2px;
    border-right: 13px solid #fff;
    border-left: 13px solid #fff;
    border-bottom: 9px solid transparent;
}

.bookmark.on {
    border-right: 15px solid hsl(0, 100%, 25%);
    border-left: 15px solid hsl(0, 100%, 25%);
    border-bottom: 10px solid transparent;
}

.bookmark.on::after {
    content: "";
    height: 39px;
    position: absolute;
    top: 2px;
    left: -13px;
    border-radius: 2px;
    border-right: 13px solid hsl(0, 96%, 40%);
    border-left: 13px solid hsl(0, 96%, 40%);
    border-bottom: 9px solid transparent;
}

.bookmark.on:hover::after {
    border-right-color: hsl(0, 96%, 44%);
    border-left-color: hsl(0, 96%, 44%);
}

.search-container {
    text-align: center;
}

.search-input {
    height: 3.5em;
    margin-bottom: 1em;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.advanced-search-options {
    margin-top: 10px;
    text-align: left;
}

/* App detail page */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #app-detail {
        padding-right: 240px;
        position: relative;
    }

    #app-detail .app-card {
        position: absolute;
        right: 0;
        top: 0;
    }
}
