.app-card-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app-card-list li {
    margin: 0 20px 20px 0;
    display: inline-block;
}

/* All app cars  */
.app-card {
    width: 220px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.app-card .icon-container {
    text-align: center;
    margin-bottom: 15px;
}

.app-card .app-name  a {
    display: block;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* App cards on image lists */
.app-card-list .app-card {
    border: 1px solid #ccc;
}

.app-card-list .app-card .launch-button {
    display: none; 
}

/* App cards on image detail page */
#app-detail .app-card {
    background-color: hsl(0, 0%, 90%);
}

#app-detail .app-card .app-name, #app-detail .app-card .star-rating {
    display: none;
}

.star-rating {
    font-size: 28px;
    color: hsl(45, 85%, 50%);
    letter-spacing: 5px;
}

/* Bookmarks */
.bookmark {
    width: 0px;
    height: 40px;
    position: absolute;
    top: -5px;
    right: 5px;
    z-index: 1;
    border-radius: 5px;
    box-sizing: content-box;
}

.bookmark.off {
    border-right: 20px solid hsl(0, 0%, 35%);
    border-left: 20px solid hsl(0, 0%, 35%);
    border-bottom: 15px solid transparent;
}

.bookmark.off::after {
    content: "";
    height: 49px;
    position: absolute;
    top: 2px;
    left: -18px;
    border-radius: 3px;
    border-right: 18px solid #fff;
    border-left: 18px solid #fff;
    border-bottom: 14px solid transparent;
}


.bookmark.on {
    border-right: 20px solid hsl(0, 100%, 25%);
    border-left: 20px solid hsl(0, 100%, 25%);
    border-bottom: 15px solid transparent;
}

/* App detail page */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #app-detail {
        padding-right: 240px;
        position: relative;
    }

    #app-detail .app-card {
        position: absolute;
        right: 0;
        top: 0;
    }
}

/* Search */
#search-container {
    margin-bottom: 20px;
}
