h1, h2, h3 {
  margin-bottom: 25px;
}
a {
  color: #0098aa;
}

a:hover {
  color: #0098aa;
  text-decoration: none;
  border-bottom: 1px dotted #0098aa;
}

.btn-primary {
  border: 1px solid #48A323;
  background-color: #5CC033;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #6ED445; 
  border: 1px solid #5CC033;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .2);
  transition: background-color 500ms cubic;
}

.main-page-header {
    margin-bottom: 20px;
    position: relative;
}

.main-page-header h1 {
    color: #2B2B2B;
}

#help-text-toggle-button {
    position: absolute;
    top: 0; 
    right: 0;
}

.identity-select {
    margin-bottom: 20px;
}

a.new-window::after {
    content: '\e164';
    font-family: 'Glyphicons Halflings';
    margin-left: 4px;
    font-size: .8em;
    position: relative;
    top: 1px;
}
