.main-page-header {
    margin-bottom: 20px;
    position: relative;
}

.main-page-header h1 {
    color: #db6619;
}

#help-text-toggle-button {
    position: absolute;
    top: 0; 
    right: 0;
}

.identity-select {
    margin-bottom: 20px;
}

a.new-window::after {
    content: '\e164';
    font-family: 'Glyphicons Halflings';
    margin-left: 4px;
    font-size: .8em;
    position: relative;
    top: 1px;
}
