BODY {
  background-image: url('/assets/images/login_background.png');
  background-color: #9DDBE1;
  background-repeat: repeat-x;
  text-align: center;
  font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 12px;
}

a {
  cursor: pointer;
  color: #0098aa;
  text-decoration: none;
  border-bottom: 1px solid #0098aa;
  font-weight: normal;

  &:hover {
    border-bottom: 1px dashed #0098aa;
  }
}

p {
  font-size: 16px;
}

.message-wrapper {
  max-width: 600px;
  margin: auto;
  margin-top: -225px;

  p:first-of-type {
    font-size: 20px;
    font-weight: bold;
  }
}