#project-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#project-list > li {
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
}

#project-list h2 {
    margin: 0;
    padding: 10px;
    background-color: hsl(0, 0%, 96%);
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 1.5em;
}

.update-project-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    padding: 0px 8px 1px 8px;
    font-weight: bold;
    font-size: 21px;
}
.project-description {
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 0;
    position: relative;
}

.project-description a {
    float: right;
}

.project-items {
    margin: 0;
    padding: 10px;
    list-style: none;
}
