#icon-set-select {
    margin: 0;
    padding: 0;
    list-style: none;
}

#icon-set-select li {
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

#icon-set-select li a {
    display: block;
    padding: 20px;
    border-radius: 5px;
}

#icon-set-select li a:hover {
    background-color: hsl(0, 0%, 90%);
}

#icon-set-select li.selected a {
    background-color: hsl(186, 100%, 33%);
    color: #fff;
}
