# SECURITY WARNING: don't run with debug turned on in production!
import sys
globals().update(vars(sys.modules['troposphere.settings']))

DEBUG = {{ DEBUG }}
TEMPLATE_DEBUG = {{ DEBUG }}

SECRET_KEY="{{ SECRET_KEY }}"
SERVER_URL="{{ DJANGO_SERVER_URL }}"
BASE_URL= "{{ BASE_URL }}"
ALLOWED_HOSTS = [SERVER_URL.replace("https://",""), "localhost"]

API_SERVER="{{ API_SERVER }}"

API_ROOT    = API_SERVER + "/api/v1"
API_V2_ROOT = API_SERVER + "/api/v2"

SITE_TITLE= "{{ SITE_TITLE}}"
SITE_FOOTER= "{{ SITE_FOOTER }}"
THEME_NAME="{{ THEME_NAME }}"

# DATABASE
DATABASES = {
    "default": {
        'NAME': '{{ DATABASE_NAME }}',
        'ENGINE': '{{ DATABASE_ENGINE }}',
        'USER': '{{ DATABASE_USER }}',
        'CONN_MAX_AGE': {{ DATABASE_CONN_MAX_AGE }},
        'PASSWORD': '{{ DATABASE_PASSWORD }}',
        'HOST': '{{ DATABASE_HOST }}',
        'PORT': {{ DATABASE_PORT }}
    },
}

# Authentication
CAS_SERVER = "{{ CAS_SERVER }}"
CAS_AUTH_PREFIX = "{{ CAS_AUTH_PREFIX }}"

OAUTH_CLIENT_KEY = "{{ OAUTH_CLIENT_KEY }}"
OAUTH_CLIENT_SECRET = "{{ OAUTH_CLIENT_SECRET }}"
OAUTH_CLIENT_CALLBACK = "{{ OAUTH_CLIENT_CALLBACK }}"

# atmosphere must include the metrics endpoint
SHOW_INSTANCE_METRICS = {{ SHOW_INSTANCE_METRICS }}
{% if BADGES_ENABLED %}

# Host for authenticating a badge request
BADGE_HOST = "{{ BADGE_HOST }}"

# Host for Badgekit API
BADGE_API_HOST = "{{ BADGE_API_HOST }}"

# Badgekit slug for the system your badges belong to
BADGE_SYSTEM_SLUG = "{{ BADGE_SYSTEM_SLUG }}"

# Readable name of your badge system
BADGE_SYSTEM_NAME = "{{ BADGE_SYSTEM_NAME }}"

# Badge secret used for badge authentication server
BADGE_SECRET = "{{ BADGE_SECRET }}"
{% endif %}

{% if DJANGO_JENKINS %}
INSTALLED_APPS += (
    'django_jenkins',
)
{% endif %}
{% if SSLSERVER %}
INSTALLED_APPS += (
    'sslserver',
)
{% endif %}
# MOCK - Uncomment these lines to allow one-user-only access. Useful for debug/development
# ALWAYS_AUTH_USER = "test_user"
# # Use MockLoginBackend first!
# AUTHENTICATION_BACKENDS += (
#     'iplantauth.authBackends.MockLoginBackend',
# )
# Configure authentication plugin
from datetime import timedelta
AUTHENTICATION = {
    #GLOBAL
    "TOKEN_EXPIRY_TIME": timedelta(days={{ TOKEN_EXPIRY_TIME_DAYS }}),
    "LOGOUT_REDIRECT_URL": '{{ LOGOUT_REDIRECT_URL }}',
    #CAS
    "CAS_SERVER": '{{ CAS_SERVER }}',
    "CAS_AUTH_PREFIX": '{{ CAS_AUTH_PREFIX }}',

    #CAS+OAuth
    "OAUTH_CLIENT_KEY": '{{ OAUTH_CLIENT_KEY }}',
    "OAUTH_CLIENT_SECRET": '{{ OAUTH_CLIENT_SECRET }}',
    "OAUTH_CLIENT_CALLBACK":  SERVER_URL + '/oauth2.0/callbackAuthorize',
    "OAUTH_ISSUE_USER": '{{ OAUTH_ISSUE_USER}}',

    #GLOBUS
    "GLOBUS_OAUTH_ID": '{{ GLOBUS_OAUTH_ID }}',
    "GLOBUS_OAUTH_SECRET": '{{ GLOBUS_OAUTH_SECRET }}',
    "GLOBUS_OAUTH_CREDENTIALS_SCOPE": '{{ GLOBUS_OAUTH_CREDENTIALS_SCOPE }}',
    "GLOBUS_OAUTH_AUTHENTICATION_SCOPE": '{{ GLOBUS_OAUTH_AUTHENTICATION_SCOPE }}',
    "GLOBUS_TOKEN_URL": '{{ GLOBUS_TOKEN_URL }}',
    "GLOBUS_TOKENINFO_URL": '{{ GLOBUS_TOKENINFO_URL }}',
    "GLOBUS_AUTH_URL": '{{ GLOBUS_AUTH_URL}}',
}
