
.navbar-default {
    background-color: $navbar-default-bg;
    border-color: $brand-primary;

    .navbar-nav > li > a {
        color: $navbar-default-link-color;
    }

    .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: $navbar-default-link-hover-color;
        background-color:$navbar-default-bg;
    }

    .navbar-nav > li > a.active, .navbar-nav > li > a.active:hover, .navbar-nav > li > a.active:focus {
        color: $navbar-default-link-hover-color;
        background-color:$navbar-default-link-active-bg;

    }

    .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
        color: $navbar-default-link-hover-color;
        background-color: darken($navbar-default-bg, 10%);
    }
    .navbar-brand {
        position: relative;
        width: 200px;
        height: 50px;
        background: url(../images/mini_logo.png) no-repeat 10px center;
        background-size: 60%;
        margin:0 20px 0 0;
        padding-left: 50px;
        font-weight: 300;
        font-size: 16px;
        color:$navbar-default-brand-color;
        &::before {
            content: $application-name;
        }
        a {
            color: $navbar-default-brand-color;
        }

        &:hover, &:focus {
            color: $navbar-default-brand-color;
            background-color: transparent;
        }
    }
    // Mobile Toggle Menu
    .navbar-toggle {
        border-color:darken($navbar-default-bg, 6%);
        &:hover, &:active, &:focus {
            background:darken($navbar-default-bg, 10%);
        }
        .icon-bar {
            background-color:darken($navbar-default-bg, 20%);
        }
    }
    .beta-toggle {
        display: none;
    }
}

.secondary-nav > .container > ul > li a.active {
    border-color: $secondary-nav-border;
}

