
// Basics of the navbar
$navbar-default-bg: white;
$brand-primary: #E5004A;
$brand-secondary: #00AAD5;
$logo-url: '../../images/mini_logo.png';
$application-name: '';
$application-label: 'DEMO';

// Navbar links
$navbar-default-link-color: darken(lightgrey, 10%);
$navbar-default-link-hover-color: black;
$navbar-default-link-active-color: black;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);

// Navbar brand label
$navbar-default-brand-color: $brand-primary;
$navbar-default-brand-hover-color: $navbar-default-brand-color;

// Navbar toggle
$navbar-default-toggle-hover-bg: $navbar-default-link-active-bg;
$navbar-default-toggle-icon-bar-bg: #fff;
$navbar-default-toggle-border-color: $navbar-default-link-active-bg;

// Secondary Navbar
$secondary-nav-border: $brand-primary;

// UI Elements
$link-color: $brand-secondary;
$tag-color: $brand-primary;



@import "nav";
@import "ui";

#dashboard-view {

  .option {
    font-size: 13px !important;
    font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFF;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: 1px solid rgb(241, 241, 241) !important;
    padding: 20px;
    text-align: center !important;
    margin-bottom: 20px;
    color: #555 !important;
    font-weight: normal !important;
    text-decoration: none;
    display: block;
    line-height: 16px;
    min-height: 230px;

    img {
      width:50px;
      text-align: center !important;
      margin-bottom: 10px;
    }

    strong {
      color: $brand-secondary;
      font-weight: normal;
    }

    hr {
      border: 1px solid #EEE !important;
    }

  }
}
.splash-image {
    text-align: center;
    background-image: none;
    background-repeat: no-repeat;
    display: none;
}
