location /assets {
    alias {{ ASSETS_PATH }};
}

location ~^/(application|maintenance|login|globus_login|oauth2.0/callbackAuthorize|logout|forbidden|version|cf2|tropo-admin|tropo-static|tropo-api) {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    uwsgi_pass unix:///tmp/troposphere.sock;
}

location ~^/cas/(oauth2.0|service) {
    uwsgi_pass unix:///tmp/troposphere.sock;
}
