<script id="template_instance_screen_maint" type="text/template">

<h1>Welcome to Atmosphere!</h1></div>
<div class="row">
  <div class="col-sm-3">
     
  </div>
  <div class="col-sm-6">
    <a href="#settings" class="option">
      <img src="<%= site_root %>/assets/resources/images/icon_settings.png" /><br />
      <strong>This provider is currently under maintenance.</strong>
      <hr />
      Other providers may still be available.
    </a>
  </div>
  <div class="col-sm-3">
     
  </div>
</div>

</script>
