<script id="template_sidebar_volume_list_item" type="text/template">

    <div style="display:none">
        <div class="pull-left">
            <img src="<%= site_root %>/assets/resources/images/mini_vol.png" />
        </div>
        <a class="rect-delete">
        <img src="<%= site_root %>/assets/resources/images/x_close.png" alt="close_icon">
        </a>
        <div class="media-body">
            <div class="volume_title"><%= name_or_id %> (<%= size %> GB)</div>
            Created: <%= create_time.toString("MMM d, yyyy") %> (<%= create_relative %>)
        </div>
    </div>


</script>
