{
    "images": "theme/{{ IMAGES_PATH }}/",
    "palette": {
        "primary1Color": "{{ PRIMARY_ONE_COLOR }}",
        "primary2Color": "{{ PRIMARY_TWO_COLOR }}",
        "accent1Color": "{{ ACCENT_ONE_COLOR }}",
        "danger": "{{ DANGER_COLOR }}",
        "success": "{{ SUCCESS_COLOR }}"
        "pickerHeaderColor": "{{ PICKER_HEADER_COLOR }}",
    },
    "header": {
        "headerColor": "{{ HEADER_COLOR }}",
        "headerBorderColor": "{{ HEADER_BORDER_COLOR }}",
        "headerLinkColor": "{{ HEADER_LINK_COLOR }}"
    }
}
