
// Basics of the navbar
$brand-primary: rgb(9,113,171);
$brand-secondary: rgb(241,158,31);
$brand-tertiary: rgb(153,217,234);
$navbar-default-bg: $brand-primary;
$nav-border: solid 5px $brand-tertiary;
$logo-url: '../../images/mini_logo.png';
$application-name: '';
$application-label: 'BETA';

// Navbar links
$navbar-default-link-color: lighten($brand-tertiary, 10%);
$navbar-default-link-hover-color: white;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);

// Navbar brand label
$navbar-default-brand-color: white;
$navbar-default-brand-hover-color: $navbar-default-brand-color;

// Navbar toggle
$navbar-default-toggle-hover-bg: $navbar-default-link-active-bg;
$navbar-default-toggle-icon-bar-bg: #fff;
$navbar-default-toggle-border-color: $navbar-default-link-active-bg;

// Secondary Navbar
$secondary-nav-border: $brand-primary;

// UI Elements
$link-color: $brand-primary;
$btn-primary: $brand-primary;
$tag-color: #E2E2E2;
$tag-txt-color: black;



@import "nav";
@import "ui";

#dashboard-view {

  .option {
    font-size: 13px !important;
    font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFF;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: 1px solid rgb(241, 241, 241) !important;
    padding: 20px;
    text-align: center !important;
    margin-bottom: 20px;
    color: #555 !important;
    font-weight: normal !important;
    text-decoration: none;
    display: block;
    line-height: 16px;
    min-height: 230px;

    img {
      width:50px;
      text-align: center !important;
      margin-bottom: 10px;
    }

    strong {
      color: $brand-primary;
      font-weight: normal;
    }

    hr {
      border: 1px solid #EEE !important;
    }

  }
}

