[uwsgi]
check-static = {{ PATH_TO_TROPOSPHERE }}
chdir = {{ PATH_TO_TROPOSPHERE }}
home = {{ VIRTUALENV_PATH }}
module = troposphere.wsgi
master = true
socket = /tmp/troposphere.sock
thunder-lock = true
enable-threads = true
processes = 16
uid = {{ UWSGI_USER }}
gid = {{ UWSGI_GROUP }}
{% if LOCAL_DEV %}chmod-socket = 776{% endif %}
vacuum = true
max-requests = 10000
daemonize = {{ UWSGI_LOG_PATH }}

